<section>
    <div class="container barraseccion">
        <div class="col-xs-12 col-sm-6 barraseccion5">
            <h2> {{ 'Booking Facial Special Treatments' | translate }}</h2>
            <div class="clear"></div>
            <div class="col-xs-12">
                <p>At Vali Skincare & Makeup a great effort was made to satisfy the demand of our clients, so we thought of all skin types and conditions to offer more treatments and give a variety of options that will help your skin look better, more healthy
                    and radiant. In this case, we add to the menu of facial treatments a series of cutting-edge procedures with specific functions to treat conditions such as hyperpigmentation, acne, also, we focus on a specific treatment for the needs
                    of teenagers, face of men and also deep cleaning In the area of ​​the back. We work on improving the texture of your skin, help reduce the size of pores, improve the appearance of stretch marks and much more.</p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 bord">
            <img src="./assets/img/servicios/CATEGORiA-FACIAL.jpg" alt="Vali Skincare & Makeup">
        </div>
    </div>
</section>
<section>
    <div class=" barraseccion-sola"></div>
</section>
<section class="serviceslist">
    <div class="container barraseccion">
        <div class="">
            <div class="col-xs-12">
                <h3 data-filter="all">{{ 'Select Category' | translate }}</h3>
                <hr>
                <app-menubooking-facial></app-menubooking-facial>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <iframe src="https://squareup.com/appointments/buyer/widget/qmlh9dhkka9jdw/RFSCRQJSQAYNW" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>