<section>
    <div class="container barraseccion">
        <div class="col-xs-12 col-sm-6 barraseccion5">
            <h2>Tratamientos Faciales para iluminar y aclarar la piel</h2>
            <div class="clear"></div>
            <div class="col-xs-12">
                <p>Creamos tratamientos especiales para aquellas pieles que necesitan ser tratadas y mimadas con ingredientes y terapias diferentes y específicas para pieles sensibles que ayudan a limpiar profundamente, eliminar las bacterias del acné, cicatrizando,
                    relajando, calmando y reduciendo la inflamación y el enrojecimiento por rosácea.
                </p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 bord">
            <img src="./assets/img/servicios/5.CLEARING-AND-LIGHTENING-PEELING-TREAT-WITH-PEEL-OFF-BRIGHTENING-MASK.jpg" alt="Tratamientos Faciales para iluminar y aclarar la piel Vali Skincare & Makeup">
        </div>
    </div>
</section>
<section class="">
    <div class=" barraseccion-sola"></div>
</section>

<section class="serviceslist ">
    <div class="container">
        <div class="col-sm-3">
            <h3 data-filter="all">Seleccionar Categoría</h3>
            <hr>
            <app-menufacial></app-menufacial>
        </div>
        <div class="col-sm-9">
            <div *ngFor="let brightening of brightenings; let i=index">
                <a data-toggle="modal" [attr.data-target]="'#' + brightening.popup">
                    <div class="col-xs-6 col-sm-3 cuadro cuadro3" [ngStyle]="{'background-image': 'url(' + brightening.image + ')'}" title="Vali Skincare & Makeup {{brightening.titleesp}}">
                        <div class="conten">
                            <h3>{{brightening.titleesp}}</h3>
                            <button class="btn"> + info</button>
                        </div>
                    </div>
                </a>
            </div>

        </div>
        <div class="service-error" *ngIf="error">
            {{error}}
        </div>
    </div>
</section>
<div class="container">
    <iframe src="https://squareup.com/appointments/buyer/widget/c4m8il8em76by4/RFSCRQJSQAYNW" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>

<app-facial-b-modal></app-facial-b-modal>