<div *ngFor="let modal of modals">
    <div class="modal fade emergente" id="mostrarmodal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <img src="{{modal.image}}" alt="Vali Skincare & Makeup" style="display:block; width:100%; margin:auto;">
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
</div>