<header>
    <div class="container">
        <!--==========================
          menu Desktop
          ===================-->
        <div class="tope hidden-xs  hidden-smmalc toped">
            <ul>
                <li><a href="tel:+17862926120" target="_blank"><i class="fa fa-phone"></i> &nbsp;&nbsp; +1 (786) 292-6120</a></li>
                <li class="boton "><a href="https://valispa.square.site/" target="_self">Tienda </a></li>
                <li class="boton "><a routerLink="/booking">Booking </a></li>
                <li class="boton"><a href="https://eikmo.myaestheticrecord.com/login" target="_blank">Login</a></li>

                <li class="bandera">
                    <a href="https://valispa.com/" target="_self">
                        <img src="assets/img/2daetapa/usaflag.jpg" alt="Vali spa ">
                    </a>
                </li>
            </ul>
        </div>
        <nav class="navbar navbar-default hidden-smmalc">
            <div class="container-fluid">
                <div class="navbar-header hidden-smmalc">
                    <a class="navbar-brand hidden-smmalc " routerLink="/">
                        <div class="logo">
                            <img src="assets/img/logo.png" alt="logo Vali">
                        </div>
                    </a>
                </div>

                <div class="collapse navbar-collapse">

                    <ul class="nav navbar-nav">
                        <li><a routerLink="/"> Inicio</a></li>
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Servicios<b class="caret"></b></a>
                            <ul class="dropdown-menu multi-level">
                                <li class="dropdown-submenu">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Facial</a>
                                    <ul class="dropdown-menu">
                                        <li><a routerLink="/facial-anti-edad"> Tratamientos Anti Edad</a></li>
                                        <li><a routerLink="/tratamientos-restaurativos-faciales"> Tratamientos de Restauración </a></li>
                                        <li><a routerLink="/tratamientos-relajantes-faciales">  Tratamientos Relajantes </a></li>
                                        <li><a routerLink="/tratamientos-brillo-claridad-facial"> Tratamientos Brillo y Claridad </a></li>
                                        <li><a routerLink="/tratamientos-especiales-facial">  Tratamientos Especial </a></li>
                                        <li><a routerLink="/tratamientos-de-lujo-facial">  Tratamientos de Lujo</a></li>
                                    </ul>
                                </li>
                                <li><a routerLink="depilacion-con-cera">Depilación con Cera</a></li>
                                <li><a routerLink="maquillaje-permanente"> Maquillaje Permanente</a></li>
                                <li class="dropdown-submenu">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Cuerpo</a>
                                    <ul class="dropdown-menu">
                                        <li><a routerLink="cuerpo-manos-y-piernas"> Manos y Piernas</a></li>
                                        <li><a routerLink="body-sculpting"> Body Sculpting</a></li>
                                        <li><a routerLink="body-wrapping"> Body Wrapping </a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">  Maquillaje</a>
                                    <ul class="dropdown-menu">
                                        <li><a routerLink="look-maquillaje"> Maquillaje</a></li>
                                        <li><a routerLink="maquillaje-novia"> Maquillaje de Novia</a></li>
                                        <li><a routerLink="maquillaje-curso">  Curso de Maquillaje</a> </li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Fibroblast</a>
                                    <ul class="dropdown-menu">
                                        <li><a routerLink="/fibroblast-rostro">Rostro</a></li>
                                        <li><a routerLink="/fibroblast-cuerpo"> Cuerpo </a></li>
                                        <li><a routerLink="/fibroblast-cicatrices-hipertroficas-o-atroficas">Cicatrices Hipertroficas ó Atroficas </a></li>
                                    </ul>
                                </li>
                                <li><a routerLink="/tratamientos-especiales"> Tratamientos Especiales</a></li>
                            </ul>
                        </li>
                        <li><a routerLink="/financiamiento"> Financiamiento</a></li>
                        <li><a routerLink="/membresia"> Membresía</a></li>
                        <li><a routerLink="/franquicia"> Franquicia</a></li>
                        <li><a routerLink="/galeria"> Galería</a></li>
                        <li><a routerLink="/promos"> Promos</a></li>
                        <li><a href="https://squareup.com/gift/WET0PGF51XB1T/order" target="_blank">Gifcards</a></li>
                        <li><a href="https://valispa.square.site/ " target="_self">Tienda</a></li>
                        <li><a routerLink="/contactenos">Contáctenos</a></li>
                        <li><a routerLink="/buscar"><i class="glyphicon glyphicon-search"></i></a></li>

                    </ul>

                </div>
            </div>
        </nav>

        <!--==========================
          menu movil
          ===================-->
        <div class="tope visible-xs  visible-smmalc">
            <h4 style="text-align: center; font-size: 16px; color:black; display: block; text-align: end; padding: 0; margin: 0; padding-bottom: 3px; position: relative; z-index: 999;">
                <a style="color:black" href="tel:+17862926120" target="_blank"><i class="fa fa-phone"></i> &nbsp;&nbsp; +1 (786) 292-6120</a>
            </h4>
            <ul>

                <li class="boton ">
                    <a routerLink="/booking"> Reservar</a>
                </li>
                <li class="boton">
                    <a href="https://eikmo.myaestheticrecord.com/login" target="_blank"> Acceder </a>
                </li>
                <li class="bandera">
                    <a href="https://valispa.com/" target="_self">
                        <img src="assets/img/2daetapa/usaflag.jpg" alt="Vali spa " style="height: 29px;">
                    </a>
                </li>
                <li class="boton"><a routerLink="/buscar"><i class="fa fa-search" style="color: #fff;"></i></a></li>
            </ul>
        </div>

        <nav class="navbar  sidebarNavigation visible-xs" data-sidebarClass="navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle left-navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
                    <a class="navbar-brand" routerLink="/">
                        <div class="logo">
                            <img src="assets/img/logo.png" alt="logo Vali">
                        </div>
                    </a>

                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li><a routerLink="/"> Inicio</a></li>
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Servicios<b class="caret"></b></a>
                            <ul class="dropdown-menu multi-level">
                                <li class="dropdown-submenu">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Facial</a>
                                    <ul class="dropdown-menu">
                                        <li><a routerLink="/facial-anti-edad"> Tratamientos Anti Edad</a></li>
                                        <li><a routerLink="/tratamientos-restaurativos-faciales"> Tratamientos Restaurativos </a></li>
                                        <li><a routerLink="/tratamientos-relajantes-faciales"> Tratamientos Relajantes  </a></li>
                                        <li><a routerLink="/tratamientos-brillo-claridad-facial"> Tratamientos Brillo y Piel </a></li>
                                        <li><a routerLink="/tratamientos-especiales-facial"> Tratamientos Especial </a></li>
                                        <li><a routerLink="/tratamientos-de-lujo-facial"> Tratamientos de Lujo</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a routerLink="/cera "> Cera</a></li>
                                <li><a routerLink="/maquillaje-permanente "> Maquillaje Permanente</a></li>
                                <li class="dropdown-submenu ">
                                    <a href="# " class="dropdown-toggle " data-toggle="dropdown ">Cuerpo</a>
                                    <ul class="dropdown-menu ">
                                        <li><a routerLink="/cuerpo-manos-y-piernas ">Manos y Piernas</a></li>
                                        <li><a routerLink="/body-sculpting ">Body Sculpting</a></li>
                                        <li><a routerLink="/body-wrapping ">Body Wrapping </a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu ">
                                    <a href="# " class="dropdown-toggle " data-toggle="dropdown "> Maquillaje</a>
                                    <ul class="dropdown-menu ">
                                        <li><a routerLink="/look-maquillaje ">Maquillaje</a></li>
                                        <li><a routerLink="/maquillaje-novia "> Maquillaje de Novia</a></li>
                                        <li><a routerLink="/maquillaje-curso "> Curso de Maquillaje</a> </li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu ">
                                    <a href="# " class="dropdown-toggle " data-toggle="dropdown ">Fibroblast </a>
                                    <ul class="dropdown-menu ">
                                        <li><a routerLink="/fibroblast-rostro "> Rostro</a></li>
                                        <li><a routerLink="/fibroblast-cuerpo ">Cuerpo </a></li>
                                        <li><a routerLink="/fibroblast-cicatrices-hipertroficas-o-atroficas ">Cicatrices Hipertroficas ó Atroficas</a></li>
                                    </ul>
                                </li>
                                <li><a routerLink="tratamientos-especiales "> Tratamientos Especiales</a></li>
                            </ul>
                        </li>
                        <li><a routerLink="/financiamiento"> Financiamiento</a></li>
                        <li><a routerLink="/membresia"> Membresía</a></li>
                        <li><a routerLink="/franquicia"> Franquicia</a></li>
                        <li><a routerLink="/galeria"> Galería</a></li>
                        <li><a routerLink="/promos"> Promos</a></li>
                        <li><a href="https://squareup.com/gift/WET0PGF51XB1T/order" target="_blank">Gifcards</a></li>
                        <li><a href="https://valispa.square.site/ " target="_self">Tienda</a></li>
                        <li><a routerLink="/booking">Booking </a></li>
                        <li><a href="https://eikmo.myaestheticrecord.com/login" target="_blank">Login</a></li>
                        <li><a routerLink="/contactenos">Contáctenos</a></li>
                        <li class="bandera">
                            <a href="https://valispa.com/" target="_self">
                                <img src="assets/img/2daetapa/usaflag.jpg" alt="Vali spa ">
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>


    </div>
</header>