<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-3">
                <img src="assets/svg/Logo-New_Vali_spa.svg" alt="logo Valispa Skincar and makeup">
            </div>
            <div class="col-xs-12 col-sm-6">
                <app-registros></app-registros>
            </div>
            <div class="col-xs-12 col-sm-3">
                <ul>
                    <li><a href="https://www.facebook.com/valiskincare/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://www.instagram.com/Valispa_/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="https://www.youtube.com/channel/UCH0MrszHJiW-mSpm5mc7VnQ?view_as=subscriber" target="_blank"><i class="fa fa-youtube-play"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>