<section>
    <div class="container barraseccion">
        <div class="col-xs-12 col-sm-6 barraseccion5">
            <h2> Cicatrices Hipertróficas o Atróficas</h2>
            <div class="clear"></div>
            <div class="col-xs-12">
                <p>Tratamos su cicatriz con una técnica de fibroblastos que lo ayudan a mejorar su apariencia, existen dos tipos de cicatrices: la cicatriz hipertrófica que es una afección cutánea caracterizada por depósitos de cantidades excesivas de colágeno
                    que dan lugar a una cicatriz en relieve, pero no en el grado observado con los queloides. Al igual que los queloides, se forman con mayor frecuencia en los sitios de granos, perforaciones corporales, cortes y quemaduras. A menudo contienen
                    nervios y vasos sanguíneos. Por otro lado, la cicatriz atrófica es una cicatriz con sangría que se cura por debajo de la capa normal de tejido de la piel. Las cicatrices atróficas se forman cuando la piel no puede regenerar el tejido.
                    Como resultado, deja cicatrices desequilibradas. Las cicatrices atróficas son a menudo el resultado de un acné severo o varicela, elegimos la técnica de fibroblastos dependiendo del tipo.
                </p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 bord">
            <img src="./assets/img/servicios/CATEGORiA-fibroblastHyper.jpg" alt="Cicatrices Hipertróficas o Atróficas Vali Skincare & Makeup">
        </div>
    </div>
</section>
<section class="">
    <div class=" barraseccion-sola"></div>
</section>

<section class="serviceslist ">
    <div class="container">
        <div class="col-sm-3">
            <h3 data-filter="all"> Seleccionar Categoría</h3>
            <hr>
            <app-menufibroblast></app-menufibroblast>
        </div>
        <div class="col-sm-9">
            <div *ngFor="let hypertrophic of hypertrophics; let i=index">
                <a data-toggle="modal" [attr.data-target]="'#' + hypertrophic.popup">
                    <div class="col-xs-6 col-sm-3 cuadro cuadro3" [ngStyle]="{'background-image': 'url(' + hypertrophic.image + ')'}" title="Vali Skincare & Makeup {{hypertrophic.titleesp}}">
                        <div class="conten">
                            <h3>{{hypertrophic.titleesp}}</h3>
                            <button class="btn">+ info</button>
                        </div>
                    </div>
                </a>
            </div>

        </div>
        <div class="service-error" *ngIf="error">
            {{error}}
        </div>
    </div>
</section>
<div class="container">
    <iframe src="https://squareup.com/appointments/buyer/widget/shmlu6fzvvlwlp/RFSCRQJSQAYNW" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>

<app-fibroblast-h-modal></app-fibroblast-h-modal>