<section>
    <div class="container barraseccion">
        <div class="col-xs-12 col-sm-6 barraseccion5">
            <h2> {{ 'Fibroblast Hypertrophic Artrophic Scars' }}</h2>
            <div class="clear"></div>
            <div class="col-xs-12">
                <p>We treat your scar with a fibroblast technique helping you to give on it a better appearance, there are two scar types one is the hypertrophic scar is a cutaneous condition characterized by deposits of excessive amounts of collagen which
                    gives rise to a raised scar, but not to the degree observed with keloids. Like keloids, they form most often at the sites of pimples, body piercings, cuts and burns. They often contain nerves and blood vessels. <br><br> In the other
                    hand the atrophic scar is an indented scar that heals below the normal layer of skin tissue. Atrophic scars form when the skin is unable to regenerate tissue. As a result, it leaves behind imbalanced scarring. Atrophic scars are often
                    the result of severe acne or chickenpox, we choose the fibroblast technique depending of the type.</p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 bord">
            <img src="./assets/img/servicios/CATEGORiA-fibroblastHyper.jpg" alt="Vali Skincare & Makeup">
        </div>
    </div>
</section>
<section class="">
    <div class=" barraseccion-sola"></div>
</section>

<section class="serviceslist ">
    <div class="container">
        <div class="col-sm-3">
            <h3 data-filter="all"> {{ 'Select Category' }}</h3>
            <hr>
            <app-menufibroblast></app-menufibroblast>
        </div>
        <div class="col-sm-9">
            <div *ngFor="let hypertrophic of hypertrophics; let i=index">
                <a data-toggle="modal" [attr.data-target]="'#' + hypertrophic.popup">
                    <div class="col-xs-6 col-sm-3 cuadro cuadro3" [ngStyle]="{'background-image': 'url(' + hypertrophic.image + ')'}">
                        <div class="conten">
                            <h3>{{hypertrophic.title}}</h3>
                            <button class="btn">{{ 'More'  }} </button>
                        </div>
                    </div>
                </a>
            </div>

        </div>
        <div class="service-error" *ngIf="error">
            {{error}}
        </div>
    </div>
</section>
<div class="container">
    <iframe src="https://squareup.com/appointments/buyer/widget/shmlu6fzvvlwlp/RFSCRQJSQAYNW" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>

<app-fibroblast-h-modal></app-fibroblast-h-modal>