<section class="barraseccion barraseccion-hoja">
    <div class="container barraseccion1">
        <div class="col-sm-8 col-sm-push-2 col-md-6 col-md-push-3">
            <h2> {{ 'Treatments' }}</h2>
        </div>
    </div>
</section>

<section>
    <div class="container treatments">
        <a href="/booking-facial" target="_self">
            <div class="col-sm-6 box" style="background-image: url(./assets/img/treatment-facial.jpg);">
                <h3> {{ 'Facial' }} </h3>
            </div>
        </a>
        <a href="/booking-body" target="_self">
            <div class="col-sm-6 box">
                <h3>{{ 'Body' }}</h3>
            </div>
        </a>
        <a href="/booking-wax" target="_self">
            <div class="col-sm-6 box" style="background-image: url(./assets/img/treatment-wax.jpg);">
                <h3> {{ 'Wax' }}</h3>
            </div>
        </a>
        <a href="/booking-permanent-makeup" target="_self">
            <div class="col-sm-6 box" style="background-image: url(./assets/img/treatment-permanent.jpg);">
                <h3> {{ 'Permanent Makeup' }}</h3>
            </div>
        </a>
        <div class="clear"></div>
        <a href="/booking-makeup" target="_self">
            <div class="col-sm-12 box2">
                <h3> {{ 'Makeup' }}</h3>
            </div>
        </a>
        <div class="clear"></div>
        <a href="/booking-special-treatments" target="_self">
            <div class="col-sm-6 box" style="background-image: url(./assets/img/treatment-special.jpg);">
                <h3> {{ 'Special Treatments' }}</h3>
            </div>
        </a>
        <a href="/booking-fibroblast" target="_self">
            <div class="col-sm-6 box" style="background-image: url(./assets/img/treatment-fibroblast.jpg);">
                <h3> {{ 'Fibroblast' }}</h3>
            </div>
        </a>
    </div>
</section>