<section class="barraseccion barraseccionFin">
    <div class="container barraseccionGalery ">
        <div class="col-sm-8 col-sm-push-2 col-md-6 col-md-push-3">
            <h2> Financiamiento</h2>
        </div>
    </div>
</section>
<div class="clear"></div>
<section class="financing">
    <div class="container">
        <div class="col-xs-12 col-sm-6">
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/o4Fq2cVvhcI" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; " allowfullscreen></iframe>
        </div>
        <div class="col-xs-12 col-sm-6">
            <h1>COMPRE AHORA</h1>
            <h2>y Pague en un mes! </h2>
            <h1>INSTALACIONES</h1>
            <h2>Aproveche los planes de pago que se ajustan a sus plan de vida.</h2>
        </div>
        <div class="clear"></div>
        <div class="col-xs-12 ">
            <h2>Comience ahora con nuestra aplicación segura:</h2>
            <h2><span class="number">1</span>Acceda a nuestra tienda desde su casa.</h2>
            <p>Para compras desde $ 100, complete una breve solicitud en línea para ver si es elegible.</p>
            <h2><span class="number">2</span>Seleccione el plan de su preferencia.</h2>
            <p>Vea todos los costos por adelantado, con total claridad. Luego elija el plan que se ajuste a su presupuesto.</p>
            <h2><span class="number">3</span>Hágalo suyo!.</h2>
            <p>Si eres aprobado, instantaneamente obtendrás un confirmacion de tu compra. </p>
            <h2><span class="number">4</span>Seleccione la opción del programa de financiamiento.</h2>
            <p><i class="fa fa-check-circle-o"></i> Sin pagos mensuales.</p>
            <p><i class="fa fa-check-circle-o"></i> Sin pagos anuales.</p>
            <p><i class="fa fa-check-circle-o"></i> Las Compras no son obligatorias.</p>
        </div>
        <div class="clear"></div> <br><br>
        <div class="text-center">
            <!--a routerLink="/location"><button class="btn btn-success btn-lg boton shadow">Apply by location</button></a-->
        </div>
    </div>
    <div class="clear"></div>
    <br><br>
    <div class="col-xs-12 col-sm-8 col-sm-push-2 cuadropromos">
        <div class="col-xs-12 col-sm-4 promofinancing shadow">
            <img src="assets/img/2daetapa/squarelogo.jpg" alt="Vali Spa square">
            <ul>
                <li>3 Pagos Mensuales.</li>
                <li>6 meses.</li>
                <li>12 meses.</li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-4 promofinancing shadow">
            <div data-pp-message data-pp-style-layout="flex" data-pp-style-color="black" data-pp-style-ratio="1x1">
            </div>
            <ul>
                <li>6 Pagos Mensuales.</li>
                <li>Sin Interés.</li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-4 promofinancing shadow">
            <img src="assets/img/2daetapa/valilogo.jpg" alt="Vali Spa ">
            <ul>
                <li>50% de anticipo y 3 pagos en las próximas tres primeras visitas.</li>
                <li>Sin interés (solo paquetes).</li>
            </ul>
        </div>
    </div>

    <div class="clear"></div>
    <br>

    <div class="col-xs-12 col-sm-10 col-sm-push-1">
        <div class="card">
            <div class="card-body shadow" style="background-color: #fff; padding: 20px; text-transform: lowercase !important; text-align: center;">

                <h3 style="margin: 0; padding: 0;"> En caso de que requiera una forma alternativa de finaciamiento,</h3>
                <h5 style="margin: 0; padding: 0;">puede contactarnos y encantados los asistiremos.</h5>

            </div>
        </div>
    </div>
    <div class="clear"></div>
    <br>
</section>