<section class="barraseccion barraseccionFin">
    <div class="container barraseccionGalery ">
        <div class="col-sm-8 col-sm-push-2 col-md-6 col-md-push-3">
            <h2> Financiamiento</h2>
        </div>
    </div>
</section>
<div class="clear"></div>
<section class="financing">
    <div class="container">
        <div class="col-xs-12 col-sm-5">
            <h1>COMPRE AHORA</h1>
            <h2>Y PAGUE MENSUALMENTE!</h2>
        </div>
        <div class="col-xs-12 col-sm-7 financing">
            <iframe class="shadow" src="https://www.youtube.com/embed/1eitF0R1u0U" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope;" allowfullscreen></iframe>
        </div>
        <div class="clear"></div>
        <br>
        <hr>
        <div class="clear"></div>

        <div class="col-xs-12 col-sm-10 col-sm-push-1 col-md-8 col-md-push-2  ">

            <h2 style="color: #333;">Aproveche los planes de pago que se ajustan a su estilo de vida</h2>
            <h2 style="color: #333;">Comience ahora con nuestra aplicación segura:</h2><br><br>
            <h2><span class="number">1</span>Seleccione la opción del programa de financiamiento</h2>
            <div style="padding-left: 50px;">
                <p><i class="fa fa-check-circle-o"></i> Sin comisiones mensuales</p>
                <p><i class="fa fa-check-circle-o"></i> Sin comisiones anuales</p>
                <p><i class="fa fa-check-circle-o"></i> Aplicar no genera ninguna obligación</p>
            </div>
            <h2><span class="number">2</span>Aplica en nuestro Spa o desde su casa</h2>
            <p>Para compras desde $100, complete una breve solicitud en línea para ver si es elegible</p>
            <h2><span class="number">3</span>Seleccione el plan de su preferencia</h2>
            <p>Vea todos los costos anticipadamente, con total claridad. Luego elija el plan que se ajuste a su presupuesto</p>
            <h2><span class="number">4</span>Hágalo suyo!</h2>
            <p>Si eres aprobado, instantáneamente obtendrás un confirmación de tu compra </p>

        </div>

        <div class="clear"></div> <br>
        <br>
        <div class="text-center">
            <!--a routerLink="/location"><button class="btn btn-success btn-lg boton shadow">Apply by location</button></a-->
        </div>
    </div>
    <div class="clear"></div>
    <br><br>
    <h1 style="text-align: center;">Escoja su opción de financiamiento</h1>
    <div class="col-xs-12 col-sm-10 col-sm-push-1 col-md-8 col-md-push-2  cuadropromos">
        <!--div class="promofinancing ">
            <div data-pp-message data-pp-style-layout="flex" data-pp-style-color="black" data-pp-style-ratio="1x1">
            </div>
        </div-->
        <a href="https://www.paypal.com/us/webapps/mpp/paypal-credit?gclid=CjwKCAjwq832BRA5EiwACvCWscW1vtVFI3NTHNeoylf0Aw6aINOgY1lfGxxbGXEWLXxY6YjOkCD3ghoCqMoQAvD_BwE&gclsrc=aw.ds" target="_blank" rel="noopener noreferrer">
            <div class="promofinancing ">

                <img src="assets/svg/Logos-cuadros_paypalCredit.svg" alt="Vali Spa paypal">
                <ul>
                    <li>Sin Intereses si se paga por completo en 6 meses, en compras de más de $99</li>
                </ul>
            </div>
        </a>
        <a href="https://squareinstallments.com/apply/vsm " target="_blank" rel="noopener noreferrer">
            <div class="promofinancing ">

                <img src="assets/svg/Logos-cuadros_square.svg" alt="Vali Spa square">
                <ul>
                    <li>3 Pagos Mensuales</li>
                    <li>6 Meses</li>
                    <li>12 Meses</li>
                </ul>
            </div>
        </a>
        <div class=" promofinancing ">
            <img src="assets/svg/Logos-cuadros_vali.svg" alt="Vali Spa ">
            <ul>
                <li>50% de anticipo y 3 pagos en las próximas tres primeras visitas</li>
                <li>Sin interés (solo paquetes)</li>
            </ul>
        </div>
    </div>

    <div class="clear"></div>
    <br>

</section>

<section class="degrade degradefinancing">
    <div class="container">
        <div class="row">
            <h4>En caso de que requiera una forma alternativa de financiamiento, puede contactarnos y encantados lo asistiremos</h4>

        </div>
    </div>
</section>