<ul>
    <li><a routerLink="/facial-anti-edad"> Tratamientos Anti Edad</a></li>
    <li><a routerLink="/tratamientos-restaurativos-faciales"> Tratamientos Restaurativos</a></li>
    <li><a routerLink="/tratamientos-relajantes-faciales">Tratamientos Relajantes </a></li>
    <li><a routerLink="/tratamientos-brillo-claridad-facial">Tratamientos Faciales para Iluminar Y Aclarar La Piel </a></li>
    <li><a routerLink="/tratamientos-especiales-facial">Tratamientos Especiales </a></li>
    <li><a routerLink="/tratamientos-de-lujo-facial">Tratamientos de Lujo</a></li>
</ul>