<section class="barraseccion ">
    <div class="container barraseccionContact">
        <div class="col-sm-8 col-sm-push-2 col-md-6 col-md-push-3">
            <h2> Contáctenos</h2>
        </div>
    </div>
</section>


<section class="cmspage mtb-40 contact">
    <div class="container barraseccion">
        <h3 class="text-center"> Envíenos un mensaje si tiene alguna pregunta o comentario.</h3>
        <div class="row justify-content-center">
            <div class="col-xs-12 col-sm-6">
                <app-contact-form></app-contact-form>
            </div>

            <div class="col-xs-12 col-sm-6">
                <h3> Trabajamos desde</h3>
                <p>8:00 am - 6:00 pm | Lunes a Domingo<br>
                    <b> Sólo cita previa.</b> <br><br>
                    <i class="fa fa-map-marker"></i><a href="https://goo.gl/maps/z6Moetp4Vs1h6Pmz5 " target="_blank">3061 Sw 160 Ave. Miramar FL 33027 Suite 135</a> <br>
                    <i class="fa fa-phone"></i><a href="tel:+17862926120" target="_blank">+1 (786) 292-6120</a><br>
                    <i class="fa fa-envelope"></i> <a href="mailto:Info@valispa.com" target="_blank">Info@valispa.com</a></p>

                <hr class="cont">
                <ul>
                    <li><a href="https://www.facebook.com/valiskincare/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://www.instagram.com/Valispa_/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="https://www.youtube.com/channel/UCH0MrszHJiW-mSpm5mc7VnQ?view_as=subscriber" target="_blank"><i class="fa fa-youtube-play"></i></a></li>
                </ul>
            </div>
        </div>

    </div>
</section>
<div class="container">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3586.5919038831557!2d-80.35983198497458!3d25.981421183537428!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d9a57506d8a0e5%3A0x3ce705ff2df58546!2sVali%20Skincare%20%26%20Makeup%20-%20Facial%20Body%20Microblading%20Fibroblast%20Treatments%20Day%20Spa!5e0!3m2!1sen!2sus!4v1592870431204!5m2!1sen!2sus"
        width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</div>
<div class="clear"></div><br><br>