<section class="serviceslist">
    <div class="container barraseccion">
        <div class="col-sm-3">
            <h3 data-filter="all"> Seleccionar Categoría</h3>
            <hr>
            <app-menubody></app-menubody>
        </div>
        <div class="col-sm-9">
            <div class="col-xs-12 col-sm-6 barraseccion5">
                <h2> Cuerpo</h2>
                <div class="clear"></div>
                <p>
                    El deseo de verse y sentirse bien ha aumentado significativamente el número de personas que buscan procedimientos de escultura corporal. Cuando la dieta y el ejercicio no son suficientes, las personas recurren a los procedimientos de contorno corporal
                    no invasivos para eliminar la grasa persistente y no deseada.
                    <br><br> Nuestros diferentes programas de tratamiento garantizan la satisfacción de nuestros clientes:
                </p>
            </div>
            <div class="col-xs-12 col-sm-6">
                <img src="./assets/img/servicios/CATEGORiA-BODY.jpg" alt="Cuerpo Vali Skincare & Makeup">
            </div>
        </div>
    </div>
</section>


<section class="bodypage">
    <div class="container">
        <div class="col-xs-12 col-sm-6">
            <img src="./assets/img/body-cavitation.jpg" alt="Cuerpo Vali Skincare & Makeup">
        </div>
        <div class="col-xs-12 col-sm-6">
            <h3>Cavitación Estética</h3>
            <hr class="fibr">
            <p>La cavitación es un tratamiento estético que permite la eliminación de depósitos de grasa localizada , terapia que te ayuda a disminuir medidas sin pasar por el quirófano; Produce ondas ultrasónicas de una frecuencia que es absorbida solo
                por los tejidos grasos, estas ondas causan en las células grasas unas burbujas de vapor las cuales son destruidas y transportadas por la sangre al sistema linfático, al hígado que la elimina del organismo a través de la orina y el sudor.
                En estos adipocitos, el área tratada pierde la capacidad de almacenar grasa, por lo que este procedimiento es definitivo para tratar la grasa localizada. En Vali Skincare & Makeup, haremos un tratamiento exquisito para eliminar esa flacidez
                que nos afecta en áreas como; Abdomen, glúteos, piernas, brazos, etc., con productos únicos que, por sus ingredientes con gotu kola, cafeína, lo ayudarán a mejorar los signos visibles y desagradables de la celulitis y la adiposidad. Le
                recomendamos que realice al menos 10 sesiones y comenzará a ver resultados sorprendentes, tomaremos medidas, ¡lo estamos esperando!</p>
            <a routerLink="/body-sculpting"><button class="btn">+ info</button></a>
        </div>
    </div>
</section>
<div class="clear"></div>
<hr class="bdy">
<section class="bodypage">
    <div class="container">
        <div class="col-xs-12 col-sm-6">
            <h3>Vacuum Terapia</h3>
            <hr class="fibr">
            <p>¿Cansado de los hoyuelos, bultos y exceso de depósitos de grasa? Es hora de decir adiós a esas grasas repugnantes con vacuum terapia. Esta tecnología elimina la grasa, suaviza y reafirma la piel. La terapia de vacío es un tratamiento no invasivo
                con investigación científica, certificado por estándares de calidad como CE y FDA. Ofrece una solución eficaz para combatir la celulitis en todas sus etapas, reduce la grasa localizada y remodela el cuerpo.
                <br><br>La Vacuum terapia es excelente como tratamiento independiente para la celulitis, reduce la retención de líquidos, mejora la textura de la piel, aumenta la circulación linfática, reduce la tensión muscular, remodela el cuerpo y
                reduce los pequeños depósitos de grasa. El tratamiento deja su piel de inmediato más tersa y firme.
            </p>
            <a routerLink="/body-sculpting"><button class="btn">+ info</button></a>
        </div>
        <div class="col-xs-12 col-sm-6">
            <img src="./assets/img/Body-vacumterap.jpg" alt="Vacuum Terapia Vali Skincare & Makeup">
        </div>

    </div>
</section>
<div class="clear"></div>
<hr class="bdy">
<section class="bodypage">
    <div class="container">
        <div class="col-xs-12 col-sm-6">
            <img src="./assets/img/Body-Radiofreq.jpg" alt="Radio Frequencia Vali Skincare & Makeup">
        </div>


        <div class="col-xs-12 col-sm-6">
            <h3>Radio Frequencia</h3>
            <hr class="fibr">
            <p>Este espléndido tratamiento se hace combinado con la cavitación, ya que al mismo tiempo que se eliminan las grasas, con la RF se estimula a los fibroblastos de la dermis para que produzcan fibras de colágeno y elastina, lo que permite que
                el tejido adquiera firmeza gracias a la reorganización de los tabiques fibrosos y engrosamiento dérmico supra-reclinado. Venga a Vali Skincare & Makeup y reciba su tratamiento completo con técnicas y dispositivos de última tecnología,
                además de garantizar un servicio inigualable.</p>
            <a routerLink="/body-sculpting"><button class="btn">+ info</button></a>
        </div>
    </div>
</section>
<div class="clear"></div>
<hr class="bdy">
<section class="bodypage">
    <div class="container">
        <div class="col-xs-12 col-sm-6">
            <h3>Envoltura Corporal Body Wrapping</h3>
            <hr class="fibr">
            <p>La envoltura corporal en Vali Skincare & Makeup, se destacan sobre las otras debido a la calidad de nuestros minerales. La envoltura corporal desintoxica el cuerpo. Los minerales son el bloque de construcción del cuerpo. El proceso de hidratación
                del cuerpo con minerales ayuda al cuerpo a eliminar las toxinas causadas por el consumo excesivo de sal, azúcar, carbohidratos y alcohol. El proceso de desintoxicación ayuda al cuerpo a perder ctms. La envoltura corporal adelgazante en
                Vali Skincare and Makeup Spa dura aproximadamente 90 minutos. Recomendamos un paquete de envoltura corporal para obtener mejores resultados.

            </p>
            <a href="body-wrapping"><button class="btn">+ info</button></a>
        </div>
        <div class="col-xs-12 col-sm-6">
            <img src="./assets/img/body-wrapping.jpg" alt="Envoltura Corporal Body Wrapping Vali Skincare & Makeup">
        </div>
    </div>
</section>
<div class="clear"></div>
<hr class="bdy">
<section class="bodypage">
    <div class="container">
        <div class="col-xs-12 col-sm-6">
            <img src="./assets/img/BODY-hand.jpg" alt="Hidratación de Manos con Parafina, Tratamiento para Piernas Cansadas Vali Skincare & Makeup">
        </div>
        <div class="col-xs-12 col-sm-6 ">
            <h3> Hidratación de Manos con Parafina, Tratamiento para Piernas Cansadas.</h3>
            <hr class="fibr">
            <p>La apertura de los poros y la eliminación de las células muertas de la piel rejuvenecerán la apariencia de su piel y harán que sus manos y pies se sientan sedosos y suaves. La parafina es un emoliente natural, por lo que agrega humedad a las
                manos mientras se aplica la cera, pero también ayuda a crear humedad en la piel mucho después de que se complete el tratamiento. Un tratamiento con parafina crea una especie de barrera en su piel que ayuda a retener los aceites que su
                cuerpo produce naturalmente.
                <br><br> Para piernas cansadas tenemos un tratamiento único y exclusivo para todos los públicos; Debemos consentir a los gemelos( que nos guían día a día, para esto ofrecemos este servicio en el que se disminuye las venas varicosas e hinchazón,
                alivia la pesadez y proporciona frescura y sensación inmediata de descanso, relaja los músculos, revitaliza, tonifica y descongestiona.
            </p>
            <a href="body-hand-and-legs"><button class="btn">+ info</button></a>
        </div>
    </div>
</section>
<div class="clear"></div>
<div class="container">
    <iframe src="https://squareup.com/appointments/buyer/widget/mjxi79ti5xcayg/RFSCRQJSQAYNW" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>