<section class="serviceslist">
    <div class="container barraseccion">
        <div class="col-sm-3">
            <h3 data-filter="all"> {{ 'Select Category' | translate }}</h3>
            <hr>
            <app-menubody></app-menubody>
        </div>
        <div class="col-sm-9">
            <div class="col-xs-12 col-sm-6 barraseccion5">
                <h2> {{ 'Body' | translate }}</h2>
                <div class="clear"></div>
                <p>The desire to look and feel good has significantly increased the number of individuals seeking body sculpting procedures. When diet and exercise are not enough, people are turning to non-invasive body contouring procedures to eliminate
                    stubborn, unwanted fat. <br><br> Our different treatment programs guarantee the satisfaction of our clients: </p>
            </div>
            <div class="col-xs-12 col-sm-6">
                <img src="./assets/img/servicios/CATEGORiA-BODY.jpg" alt="Vali Skincare & Makeup">
            </div>
        </div>
    </div>
</section>


<section class="bodypage">
    <div class="container">
        <div class="col-xs-12 col-sm-6">
            <img src="./assets/img/body-cavitation.jpg" alt="Vali Skincare & Makeup">
        </div>
        <div class="col-xs-12 col-sm-6">
            <h3>Esthetics Cavitation</h3>
            <hr class="fibr">
            <p>Cavitation is an aesthetic treatment that allows the elimination of deposits of localized fat untreated to diets and exercises lastingly and without going through the operating room; it produces ultrasonic waves of a frequency that are absorbed
                by fatty tissues. These waves cause in the fat cells steam bubbles that cause their destruction and this released fat is transported by the blood and lymphatic to the liver that eliminates it of the organism when destroying these adipocytes,
                the treated area loses the capacity to store fat for which this procedure is definitive to treat localized fat. In Vali Skincare & Makeup, we will make an exquisite treatment to eliminate that flaccidity that affects us in areas such as;
                abdomen, buttocks, legs, arms, flanks, etc, with unique products that for their ingredients with gotu kola caffeine will help you to improve the visible and unpleasant signs of cellulite and adiposity. We recommend doing at least 10 sessions
                and you will start to see surprising results, we will take measures, we are waiting for you !!</p>
            <a routerLink="/body-sculpting"><button class="btn">+ info</button></a>
        </div>
    </div>
</section>
<div class="clear"></div>
<hr class="bdy">
<section class="bodypage">
    <div class="container">
        <div class="col-xs-12 col-sm-6">
            <h3>Vacuum Therapy</h3>
            <hr class="fibr">
            <p>Tired of the dimples, lumps and excess fat deposits? It’s time to say goodbye to that disgusting fats with the Vacuum Therapy.  <br><br> Vacuum Therapy eliminates fat + smooth and firms the skin. The treatment combines the ancient art of cupping
                with negative pressure to assist in eliminating fat, waste, toxins and excess fluids from your body. Vacuum Therapy is a non-invasive scientifically researched treatment, certified by Quality Standards like CE and FDA. It offers an effective
                solution to fight cellulite in all its stage, reduces localized fat and reshapes the body. <br><br> Vacuum Therapy is great as a stand-alone treatment for cellulite, reduces fluid retention, improves skin texture, increases lymphatic circulation,
                reduces muscle tension, body reshape and for reducing small deposits of fat. The treatment leaves your skin immediately smoother and firmer. </p>
            <a routerLink="/body-sculpting"><button class="btn">+ info</button></a>
        </div>
        <div class="col-xs-12 col-sm-6">
            <img src="./assets/img/Body-vacumterap.jpg" alt="Vali Skincare & Makeup">
        </div>

    </div>
</section>
<div class="clear"></div>
<hr class="bdy">
<section class="bodypage">
    <div class="container">
        <div class="col-xs-12 col-sm-6">
            <img src="./assets/img/Body-Radiofreq.jpg" alt="Vali Skincare & Makeup">
        </div>


        <div class="col-xs-12 col-sm-6">
            <h3>Radio Frequency</h3>
            <hr class="fibr">
            <p>This splendid treatment makes a radiant work combined with cavitation due to the fact that at the same time that you eliminate fat, with RF the fibroblasts of the dermis are stimulated to make collagen and elastin fibers, thus allowing the
                tissue to acquire firmness thanks to the reorganization of the fibrous septa and supra-recumbent dermal thickening. <br><br> Come to Vali Skincare & Makeup and receive your complete treatment with techniques and latest technology devices
                apart from ensuring an unparalleled service.</p>
            <a routerLink="/body-sculpting"><button class="btn">+ info</button></a>
        </div>
    </div>
</section>
<div class="clear"></div>
<hr class="bdy">
<section class="bodypage">
    <div class="container">
        <div class="col-xs-12 col-sm-6">
            <h3>Body Wrapping {{ 'Body Wrapping' | translate }}</h3>
            <hr class="fibr">
            <p>The body wrap at Vali Skincare and Makeup stand out above the others due to the quality of our minerals. The body wrap detoxifies the body. Minerals are the building blocks of the body. The process of hydrating the body with minerals helps
                the body eliminates toxins caused by excessive consumption of salt, sugar, carbohydrates and alcohol. The process of detoxification helps the body to lose ctms. This slimming body wrap in Vali Skincare and Makeup Spa takes around 90 minutes.
            </p>
            <a href="body-wrapping"><button class="btn">+ info</button></a>
        </div>
        <div class="col-xs-12 col-sm-6">
            <img src="./assets/img/body-wrapping.jpg" alt="Vali Skincare & Makeup">
        </div>
    </div>
</section>
<div class="clear"></div>
<hr class="bdy">
<section class="bodypage">
    <div class="container">
        <div class="col-xs-12 col-sm-6">
            <img src="./assets/img/BODY-hand.jpg" alt="Vali Skincare & Makeup">
        </div>
        <div class="col-xs-12 col-sm-6 ">
            <h3> Hands hydrating with exfoliation paraffin treatment and tired legs and feet therapy</h3>
            <hr class="fibr">
            <p>The opening of pores and removal of dead skin cells will rejuvenate the appearance of your skin and make your hands and feet feel silky and smooth. <br><br> Paraffin is a natural emollient so it adds moisture to the sink while the wax is applied,
                but it also helps create moisture in your skin long after the treatment is complete. A paraffin treatment creates a sort of barrier on your skin that helps retain the oils that your body naturally produces. <br><br> Tired Legs is a unique
                and exclusive treatment for all public; We must consent to those twins who lead us day by day, for this we offer this service in which the following is offered, decreases varicose veins, telangiectasia and swelling, relieves heaviness
                and provides freshness and immediate sensation of rest, relaxes the muscles, revitalizing, toning and decongesting.</p>
            <a href="body-hand-and-legs"><button class="btn">+ info</button></a>
        </div>
    </div>
</section>
<div class="clear"></div>
<div class="container">
    <iframe src="https://squareup.com/appointments/buyer/widget/mjxi79ti5xcayg/RFSCRQJSQAYNW" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>