<section>
    <div class="container barraseccion">
        <div class="col-xs-12 col-sm-6 barraseccion5">
            <h2>Tratamientos Anti Edad</h2>
            <div class="clear"></div>
            <div class="col-xs-12">
                <p>Realizamos tratamientos faciales específicos para prevenir y combatir el envejecimiento de la piel y las arrugas. En este caso, Vali SkinCare & Makeup le ofrece una variedad de opciones con equipos de alta tecnología y nuevas técnicas
                    para crear los mejores servicios cerca de usted, como oxigenar, eliminar manchas, reafirmar, mejorar la resequedad, reducir líneas finas, exfoliaciones profundas, protección a largo plazo con células madre, hidrataciones intensivas
                    y tratamientos de colágeno. para iluminar, levantar y encontrar una piel de aspecto juvenil.

                    <br><br> Para obtener mejores resultados, recomendamos uno de estos tratamientos cada 15 días.
                </p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 bord">
            <img src="./assets/img/servicios/3.ANTI-AGING-COLLAGEN-TREATMENT.jpg" alt="Tratamientos Anti Edad Vali Skincare & Makeup">
        </div>
    </div>
</section>
<section class="">
    <div class=" barraseccion-sola"></div>
</section>

<section class="serviceslist ">
    <div class="container">
        <div class="col-sm-3">
            <h3 data-filter="all">Seleccionar Categoría</h3>
            <hr>
            <app-menufacial></app-menufacial>
        </div>
        <div class="col-sm-9">
            <div *ngFor="let antiage of antiages; let i=index">
                <a data-toggle="modal" [attr.data-target]="'#' + antiage.popup">
                    <div class="col-xs-6 col-sm-3 cuadro cuadro3" [ngStyle]="{'background-image': 'url(' + antiage.image + ')'}" title="Vali Skincare & Makeup {{antiage.titleesp}}">
                        <div class="conten">
                            <h3>{{antiage.titleesp}}</h3>
                            <button class="btn"> + info</button>
                        </div>
                    </div>
                </a>
            </div>

        </div>
        <div class="service-error" *ngIf="error">
            {{error}}
        </div>
    </div>
</section>
<div class="container">
    <iframe src="https://squareup.com/appointments/buyer/widget/rkcqwtt9qs0i8q/RFSCRQJSQAYNW" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>

<app-facial-a-modal></app-facial-a-modal>