<section>
    <div class="container barraseccion">
        <div class="col-xs-12 col-sm-6 barraseccion5">
            <h2>Booking Tratamientos Especiales</h2>
            <div class="clear"></div>
            <div class="col-xs-12">
                <p>Ofrecemos algunos tratamientos especiales para ayudarlo a mejorar las condiciones de la piel que lo hacen sentir inseguro. Queremos brindarle los mejores tratamientos del mercado estético, lo invitamos a que pruebe uno de nuestros tratamientos
                    MÁS VENDIDOS.
                </p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 bord">
            <img src="./assets/img/servicios/CATEGORiA-SPECIAL-TREATMENT.jpg" alt="Vali Spa">
        </div>
    </div>
</section>
<div class="container bookingiframe">
    <iframe src="https://squareup.com/appointments/buyer/widget/qmlh9dhkka9jdw/RFSCRQJSQAYNW" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
