<section>
    <div class="container barraseccion">
        <div class="col-xs-12 col-sm-6 barraseccion5">
            <h2>{{ 'Booking Special Treatments' | translate }}</h2>
            <div class="clear"></div>
            <div class="col-xs-12">
                <p>We offer some special treatments in order to help you to improve al the skin worries that are making you feel insecure. We want to give you the best treatments of the esthetic market, we invite you to come try one of our BEST SELLING treatments.
                </p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 bord">
            <img src="./assets/img/servicios/CATEGORiA-SPECIAL-TREATMENT.jpg" alt="Vali Skincare & Makeup">
        </div>
    </div>
</section>
<div class="container">
    <iframe src="https://squareup.com/appointments/buyer/widget/qmlh9dhkka9jdw/RFSCRQJSQAYNW" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>