<section>
    <div class="container barraseccion">
        <div class="col-xs-12 col-sm-6 barraseccion5">
            <h2>Curso de Maquillaje</h2>
            <div class="clear"></div>
            <div class="col-xs-12">
                <p>En Vali Skincare and Makeup pensamos en todo, es por eso que ofrecemos clases de maquillaje, entre ellas contamos con cursos personalizado, grupal y profesional en función de lo que cumpla con sus requisitos.
                </p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 bord">
            <img src="./assets/img/servicios/2.ONE-DAY-GROUP-MAKEUP-CLASS-4-PEOPLE.jpg" alt="Curso de Maquillaje Vali Spa">
        </div>
    </div>
</section>
<section class="">
    <div class=" barraseccion-sola"></div>
</section>

<section class="serviceslist ">
    <div class="container">
        <div class="col-sm-3">
            <h3 data-filter="all">Seleccionar Categoría</h3>
            <hr>
            <app-menumakeup></app-menumakeup>
        </div>
        <div class="col-sm-9">
            <div *ngFor="let clases of clasess; let i=index">
                <a data-toggle="modal" [attr.data-target]="'#' + clases.popup">
                    <div class="col-xs-6 col-sm-3 cuadro cuadro3" [ngStyle]="{'background-image': 'url(' + clases.image + ')'}" title="Vali Spa {{clases.titleesp}}">
                        <div class="conten">
                            <h3>{{clases.titleesp}}</h3>
                            <button class="btn">+ info</button>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="service-error" *ngIf="error">
            {{error}}
        </div>
    </div>
</section>
<div class="container bookingiframe">
    <iframe src="https://squareup.com/appointments/buyer/widget/2yucpd1m04xil9/RFSCRQJSQAYNW" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>


<app-makeup-c-modal></app-makeup-c-modal>
