<section>
    <div class="container barraseccion">
        <div class="col-xs-12 col-sm-6 barraseccion5">
            <h2>Booking Curso de Maquillaje</h2>
            <div class="clear"></div>
            <div class="col-xs-12">
                <p>En Vali Skincare and Makeup pensamos en todo, es por eso que ofrecemos clases de maquillaje, entre ellas contamos con cursos personalizado, grupal y profesional en función de lo que cumpla con sus requisitos.
                </p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 bord">
            <img src="./assets/img/servicios/2.ONE-DAY-GROUP-MAKEUP-CLASS-4-PEOPLE.jpg" alt="Vali Spa">
        </div>
    </div>
</section>
<section>
    <div class=" barraseccion-sola"></div>
</section>
<section class="serviceslist">
    <div class="container barraseccion">
        <div class="">
            <div class="col-xs-12">
                <h3 data-filter="all">Seleccionar Categoría</h3>
                <hr>
                <app-menubooking-makeup></app-menubooking-makeup>
            </div>
        </div>
    </div>
</section>
<div class="container bookingiframe">
    <iframe src="https://squareup.com/appointments/buyer/widget/p538c8kp3gy0fm/RFSCRQJSQAYNW" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
