<section>
    <div class="container barraseccion">
        <div class="col-xs-12 col-sm-6 barraseccion5">
            <h2> Maquillaje Permanente</h2>
            <div class="clear"></div>
            <div class="col-xs-12">
                <p>Microblading para cejas es una forma de maquillaje permanente que crea cejas naturales y hermosas con una micro cuchilla manual. Esta técnica no es para todo tipo de piel y cejas. El especialista tiene que analizarlos para recomendar el
                    mejor tratamiento para usted. Utilizamos una crema anestésica para prevenir el dolor en el procedimiento.
                    <br><br> Microblading para cejas es una forma de maquillaje permanente que crea cejas naturales y hermosas con una micro cuchilla manual. Esta técnica no es para todo tipo de piel y cejas. El especialista tiene que analizarlos para
                    recomendar el mejor tratamiento para usted. Utilizamos una crema anestésica para prevenir el dolor en el procedimiento
                    <br><br>Microblading se originó en Asia hace más de 20 años y ha tenido muchos nombres, bordados de cejas, toques de plumas, micro trazos e incluso "el método japonés". Para el año 2015, el microblading se hizo popular en los Estados
                    Unidos.
                </p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 bord">
            <img src="./assets/img/servicios/CATEGORiA-PERMANET-MAKEUP.jpg" alt="Vali Skincare & Makeup">
        </div>
        <div class="clear"></div><br><br>
        <div class="col-xs-12 col-sm-6 col-sm-push-3">
            <p>Técnicamente, microblading es una forma de tatuaje de cejas. Pero, a diferencia de los tatuajes tradicionales, que utilizan una máquina, los artistas de microblading aplican cada trazo del vello con una microcuchilla manual produciendo una
                línea muy fina que se parece al pelo real. Cada trazo de pelo individual es dibujado a mano por el artista y mezclado con el pelo de la ceja existente del cliente. Con un buen especialista a cargo, los resultados pueden ser magníficos
                y muy realistas.
            </p>
        </div>
    </div>
</section>
<section class="">
    <div class=" barraseccion-sola"></div>
</section>


<section class="serviceslist ">
    <div class="container">
        <div *ngFor="let permanent of permanents; let i=index">
            <a data-toggle="modal" [attr.data-target]="'#' + permanent.popup">
                <div class="col-xs-6 col-sm-3 cuadro cuadro3" [ngStyle]="{'background-image': 'url(' + permanent.image + ')'}">
                    <div class="conten">
                        <h3>{{permanent.titleesp}}</h3>
                        <button class="btn">+ info</button>
                    </div>
                </div>
            </a>
        </div>
        <div class="service-error" *ngIf="error">
            {{error}}
        </div>
    </div>
</section>
<div class="container">
    <iframe src="https://squareup.com/appointments/buyer/widget/xlnwk5u83f6l0p/RFSCRQJSQAYNW" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>

<app-permanent-modal></app-permanent-modal>