<section>
    <div class="container barraseccion">
        <div class="col-xs-12 col-sm-6 barraseccion5">
            <h2> {{ 'Permanent Makeup' | translate }}</h2>
            <div class="clear"></div>
            <div class="col-xs-12">
                <p>Microblading eyebrow is a form of permanent makeup that creates natural and beautiful eyebrows with a hand held micro blade. This technique is not for all skin types and eyebrows. The specialist has to analyze them to recommend the best
                    treatment for you. We use an anesthetic cream to prevent pain in the procedure. It is perfect for people who have exhausted or to define, darken or reshape their eyebrow. <br><br> Microblading is a semi-permanent cosmetic procedure
                    that uses a specialized tool controlled by hand to make fine cuts on the skin to implant pigments that resemble the appearance of the natural hair of the eyebrows. It is ideal for filling scattered areas of the natural eyebrow where
                    hair is not present, and also to define and improve the shape of the forehead. <br><br> Microblading originated in Asia more than 20 years ago and has had many names, eyebrow embroidery, feather touch, micro stroking and even "the
                    Japanese method". By 2015, microblading became popular in the United States. </p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 bord">
            <img src="./assets/img/servicios/CATEGORiA-PERMANET-MAKEUP.jpg" alt="Vali Skincare & Makeup">
        </div>
        <div class="clear"></div><br><br>
        <div class="col-xs-12 col-sm-6 col-sm-push-3">
            <p>Technically, microblading is a form of eyebrow tattoo. But, unlike traditional tattoos, which use a machine, microblade artists apply each stroke of hair with a hand blade. This produces a very fine line that resembles real hair. Each individual
                hair stroke is drawn by hand by the artist and mixed with the client's existing eyebrow hair. With a strong artist in charge, the results can be magnificent and very realistic.</p>
        </div>
    </div>
</section>
<section class="">
    <div class=" barraseccion-sola"></div>
</section>


<section class="serviceslist ">
    <div class="container">
        <div *ngFor="let permanent of permanents; let i=index">
            <a data-toggle="modal" [attr.data-target]="'#' + permanent.popup">
                <div class="col-xs-6 col-sm-3 cuadro cuadro3" [ngStyle]="{'background-image': 'url(' + permanent.image + ')'}">
                    <div class="conten">
                        <h3>{{permanent.title}}</h3>
                        <button class="btn">{{ 'More' | translate }}</button>
                    </div>
                </div>
            </a>
        </div>
        <div class="service-error" *ngIf="error">
            {{error}}
        </div>
    </div>
</section>
<div class="container">
    <iframe src="https://squareup.com/appointments/buyer/widget/xlnwk5u83f6l0p/RFSCRQJSQAYNW" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>

<app-permanent-modal></app-permanent-modal>