<section>
    <div class="container barraseccion">
        <div class="col-xs-12 col-sm-6 barraseccion5">
            <h2>Booking Maquillaje de Novia</h2>
            <div class="clear"></div>
            <div class="col-xs-12">
                <p>La oportunidad perfecta para comenzar a coordinar su aspecto con todos los demás elementos de su día especial, como el color del vestido, las flores, su fiesta nupcial e incluso el lugar. Es el momento de experimentar con los estilos de
                    maquillaje que te gustaría probar,... por supuesto, no olvides a tus amigas y familiares ... ¡también se verán hermosas!
                </p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 bord">
            <img src="./assets/img/servicios/1.BRIDAL-MAKEUP-TRIAL.jpg" alt="Vali Spa">
        </div>
    </div>
</section>
<section>
    <div class=" barraseccion-sola"></div>
</section>


<section class="serviceslist">
    <div class="container barraseccion">
        <div class="">
            <div class="col-xs-12">
                <h3 data-filter="all">Seleccionar Categoría</h3>
                <hr>
                <app-menubooking-makeup></app-menubooking-makeup>
            </div>
        </div>
    </div>
</section>
<div class="container bookingiframe">
    <iframe src="https://squareup.com/appointments/buyer/widget/v3rqcbkbnrmx21/RFSCRQJSQAYNW" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
