<section>
    <div class="container barraseccion">
        <div class="col-xs-12 col-sm-6 barraseccion5">
            <h2> {{ 'Luxury Facial Treatments' | translate }}</h2>
            <div class="clear"></div>
            <div class="col-xs-12">
                <p>Exclusive treatments at Vali Skincare & Makeup includes highly effective top performing modalities in Spa technology. Hydra Facials with soothing and invigorating spa therapies to achieve instant hydration and lasting results without any
                    discomfort or downtime. Microcurrents are then used for firming and lifting. Galvanic technology propels high-potent actives deep into the skin, minimizing lines, wrinkles, hyper-pigmentation and sensitivity. Oxygen infusion drives
                    potent actives to restore elasticity, stimulate tissue, repair, heal and rebalance the skin. These treatments are completed with our Luxury face neck and décolleté hydroplastic mask, leaving the skin ready for a close up.</p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 bord">
            <img src="./assets/img/servicios/CATEGORiA-luxury.jpg" alt="Vali Skincare & Makeup">
        </div>
    </div>
</section>
<section class="">
    <div class=" barraseccion-sola"></div>
</section>

<section class="serviceslist ">
    <div class="container">
        <div class="col-sm-3">
            <h3 data-filter="all"> {{ 'Select Category' | translate }}</h3>
            <hr>
            <app-menufacial></app-menufacial>
        </div>
        <div class="col-sm-9">
            <div *ngFor="let luxuring of luxurings; let i=index">
                <a data-toggle="modal" [attr.data-target]="'#' + luxuring.popup">
                    <div class="col-xs-6 col-sm-3 cuadro cuadro3" [ngStyle]="{'background-image': 'url(' + luxuring.image + ')'}">
                        <div class="conten">
                            <h3>{{luxuring.title}}</h3>
                            <button class="btn">{{ 'More' | translate }}</button>
                        </div>
                    </div>
                </a>
            </div>

        </div>
        <div class="service-error" *ngIf="error">
            {{error}}
        </div>
    </div>
</section>
<div class="container">
    <iframe src="https://squareup.com/appointments/buyer/widget/ee2dv4jgismicy/RFSCRQJSQAYNW" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>

<app-facial-l-modal></app-facial-l-modal>