<section class="serviceslist hidden-xs">
    <div class="container barraseccion">
        <div class="col-sm-3">
            <h3 data-filter="all">{{ 'Select Category' }}</h3>
            <hr>
            <app-menumakeup></app-menumakeup>
        </div>
        <div class="col-sm-9">
            <div class="col-xs-12 col-sm-6 barraseccion5">
                <h2> {{ 'Makeup' }}</h2>
                <div class="clear"></div>
                <p>Our passion has always been making every client feel like she is walking the red carpet. Every face represents a challenge with a natural beauty enhanced by carefully placed strokes of makeup. <br><br> Offers a full range of makeup services,
                    including makeup for special occasions, educational how-to sessions, and off-site makeup parties</p>
            </div>
            <div class="col-xs-12 col-sm-6">
                <img src="./assets/img/servicios/CATEGORiA-MAKEUP.jpg" alt="Vali Skincare & Makeup">
            </div>
        </div>
    </div>
</section>

<section class="serviceslist visible-xs">
    <div class="container barraseccion">
        <div class="col-xs-12">
            <div class="col-xs-12 col-sm-6 barraseccion5">
                <h2> {{ 'Makeup' }}</h2>
                <div class="clear"></div>
                <p>Our passion has always been making every client feel like she is walking the red carpet. Every face represents a challenge with a natural beauty enhanced by carefully placed strokes of makeup. <br><br> Offers a full range of makeup services,
                    including makeup for special occasions, educational how-to sessions, and off-site makeup parties</p>
            </div>
            <div class="col-xs-12 col-sm-6">
                <img src="./assets/img/servicios/CATEGORiA-MAKEUP.jpg" alt="Vali Skincare & Makeup">
            </div>
        </div>

    </div>
    <div class="col-xs-12">
        <h3 data-filter="all"> {{ 'Select Category' }}</h3>
        <hr>
        <app-menumakeup></app-menumakeup>
    </div>

</section>
<div class="container">
    <iframe src="https://squareup.com/appointments/buyer/widget/xq4k03zq4uh6zc/RFSCRQJSQAYNW" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>