<section class="serviceslist hidden-xs">
    <div class="container barraseccion">
        <div class="col-sm-3">
            <h3 data-filter="all">Seleccionar Categoría</h3>
            <hr>
            <app-menumakeup></app-menumakeup>
        </div>
        <div class="col-sm-9">
            <div class="col-xs-12 col-sm-6 barraseccion5">
                <h2> Maquillaje</h2>
                <div class="clear"></div>
                <p>Nuestra pasión siempre ha sido hacer que cada cliente se sienta como si estuviera caminando por la alfombra roja. Cada rostro representa un desafío con una belleza natural realzada por trazos de maquillaje cuidadosamente colocados. Ofrecemos
                    una gama completa de servicios de maquillaje, que incluyen maquillaje para ocasiones especiales, sesiones educativas y fiestas de maquillaje fuera del sitio.

                </p>
            </div>
            <div class="col-xs-12 col-sm-6">
                <img src="./assets/img/servicios/CATEGORiA-MAKEUP.jpg" alt="Maquillaje Vali Spa">
            </div>
        </div>
    </div>
</section>

<section class="serviceslist visible-xs">
    <div class="container barraseccion">
        <div class="col-xs-12">
            <div class="col-xs-12 col-sm-6 barraseccion5">
                <h2> Maquillaje</h2>
                <div class="clear"></div>
                <p>Nuestra pasión siempre ha sido hacer que cada cliente se sienta como si estuviera caminando por la alfombra roja. Cada rostro representa un desafío con una belleza natural realzada por trazos de maquillaje cuidadosamente colocados. Ofrecemos
                    una gama completa de servicios de maquillaje, que incluyen maquillaje para ocasiones especiales, sesiones educativas y fiestas de maquillaje fuera del sitio.
                </p>
            </div>
            <div class="col-xs-12 col-sm-6">
                <img src="./assets/img/servicios/CATEGORiA-MAKEUP.jpg" alt="Maquillaje Vali Spa">
            </div>
        </div>

    </div>
    <div class="col-xs-12">
        <h3 data-filter="all"> Seleccionar Categoría</h3>
        <hr>
        <app-menumakeup></app-menumakeup>
    </div>

</section>
<div class="container">
    <iframe src="https://squareup.com/appointments/buyer/widget/xq4k03zq4uh6zc/RFSCRQJSQAYNW" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
