<div class="page-desc" [hidden]="submitted">
    <form (ngSubmit)="onSubmit()" #registroForm="ngForm">
        <h3> {{ 'Subscribe to our newsletters' | translate }}</h3>
        <div class="input-group">
            <input type="text" name="email" id="email" [(ngModel)]="model.email" class="form-control" placeholder="E-Mail" required email #email="ngModel">
            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="error">
                <div *ngIf="email?.errors.required"> {{ 'Email is required.' | translate }}</div>
                <div *ngIf="email?.errors.email"> {{ 'Email must be a valid email address.' | translate }}</div>
            </div>
            <div class="input-group-btn">
                <button [disabled]="!registroForm.form.valid" class="btn btn-default" type="submit"><i class="fa fa-envelope"></i></button>
            </div>
        </div>
    </form>
</div>
<div class="service-error" *ngIf="error">
    <h3>{{error.errorTitle}}</h3>
    <h4>{{error.errorDesc}}</h4>
</div>
<div [hidden]="!submitted" class="contact-message">
    <div *ngIf="model.id" class="contact-success">
        <h3 class="success"> {{ 'Success!' | translate }}</h3>
        <h4> {{ 'Subription form has been successfully submitted.' | translate }}</h4>
    </div>
</div>