<div class="page-desc" [hidden]="submitted">
    <h3> Subscribirse a nuestro Promo Newsletter</h3>
    <form action="https://squareup.com/outreach/dXZakT/subscribe" method="POST" target="_blank"><input type="email" name="email_address" placeholder="Su Correo Electrónico" style="height: 38px; padding: 0 16px; font-size: 14px; border: 1px solid #bec3c8; border-radius: 3px; margin-right: 8px; font-family: 'Helvetica Neue', Helvetica, sans-serif;">
        <button type="submit" class="boton" style="cursor: pointer; border: 0; ">Unirse Ahora!</button>
    </form>
</div>