<!--div class="page-desc" [hidden]="submitted">
    <h3> Subscribirse a nuestro Promo Newsletter</h3>
    <form action="https://squareup.com/outreach/dXZakT/subscribe" method="POST" target="_blank"><input type="email" name="email_address" placeholder="Su Correo Electrónico" style="height: 38px; padding: 0 16px; font-size: 14px; border: 1px solid #bec3c8; border-radius: 3px; margin-right: 8px; font-family: 'Helvetica Neue', Helvetica, sans-serif;">
        <button type="submit" class="boton" style="cursor: pointer; border: 0; ">Unirse Ahora!</button>
    </form>
</div-->

<div class="page-desc" [hidden]="submitted">
    <h3> Subscribe to our Promo's newsletters</h3>
    <!--form action="https://squareup.com/outreach/dXZakT/subscribe" method="POST" target="_blank"><input type="email" name="email_address" placeholder="Your Email Address" style="height: 38px; padding: 0 16px; font-size: 14px; border: 1px solid #bec3c8; border-radius: 3px; margin-right: 8px; font-family: 'Helvetica Neue', Helvetica, sans-serif;">
        <button type="submit" style="cursor: pointer; background-color: #d1a541; color: white; height: 40px; border: 0; border-radius: 3px; font-size: 14px; padding: 0 16px; font-family: 'Helvetica Neue', Helvetica, sans-serif; font-weight: 500;">Join Now</button>
    </form-->


    <iframe src="https://valispa.com/subscribe.html" width="100%" height="80" frameborder="0" style="border:0" allowfullscreen></iframe>

</div>