<section class="serviceslist hidden-xs">
    <div class="container barraseccion">
        <div class="">
            <div class="col-sm-3">
                <h3 data-filter="all">Seleccionar Categoría</h3>
                <hr>
                <app-menubooking-body></app-menubooking-body>
            </div>
            <div class="col-sm-9">
                <div class="col-xs-12 col-sm-6 barraseccion5">
                    <h2>Booking Cuerpo</h2>
                    <div class="clear"></div>
                    <p>El deseo de verse y sentirse bien ha aumentado significativamente el número de personas que buscan procedimientos de escultura corporal. Cuando la dieta y el ejercicio no son suficientes, las personas recurren a los procedimientos
                        de contorno corporal no invasivos para eliminar la grasa persistente y no deseada.
                        <br><br> Nuestros diferentes programas de tratamiento garantizan la satisfacción de nuestros clientes: </p>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <img src="./assets/img/servicios/CATEGORiA-BODY.jpg" alt="Vali Skincare & Makeup">
                </div>
            </div>
        </div>

    </div>
</section>


<section class="serviceslist visible-xs">
    <div class="container barraseccion">
        <div class="">

            <div class="col-sm-9">
                <div class="">
                    <div class="col-xs-12 col-sm-6 barraseccion5">
                        <h2> Booking Cuerpo</h2>
                        <div class="clear"></div>
                        <p>El deseo de verse y sentirse bien ha aumentado significativamente el número de personas que buscan procedimientos de escultura corporal. Cuando la dieta y el ejercicio no son suficientes, las personas recurren a los procedimientos
                            de contorno corporal no invasivos para eliminar la grasa persistente y no deseada.
                            <br><br> Nuestros diferentes programas de tratamiento garantizan la satisfacción de nuestros clientes: </p>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <img src="./assets/img/servicios/CATEGORiA-BODY.jpg" alt="Vali Skincare & Makeup">
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <h3 data-filter="all">Seleccionar Categoría</h3>
                <hr>
                <app-menubooking-body></app-menubooking-body>
            </div>
        </div>

    </div>
</section>
<div class="container">
    <iframe src="https://squareup.com/appointments/buyer/widget/mjxi79ti5xcayg/RFSCRQJSQAYNW" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>