<section class="serviceslist hidden-xs">
    <div class="container barraseccion">
        <div class="">
            <div class="col-sm-3">
                <h3 data-filter="all">{{ 'Select Category' }}</h3>
                <hr>
                <app-menubooking-body></app-menubooking-body>
            </div>
            <div class="col-sm-9">
                <div class="">
                    <div class="col-xs-12 col-sm-6 barraseccion5">
                        <h2>{{ 'Booking Body' }}</h2>
                        <div class="clear"></div>
                        <p>The desire to look and feel good has significantly increased the number of individuals seeking body sculpting procedures. When diet and exercise are not enough, people are turning to non-invasive body contouring procedures to eliminate
                            stubborn, unwanted fat. <br><br> Our different treatment programs guarantee the satisfaction of our clients: </p>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <img src="./assets/img/servicios/CATEGORiA-BODY.jpg" alt="Vali Skincare & Makeup">
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>


<section class="serviceslist visible-xs">
    <div class="container barraseccion">
        <div class="">

            <div class="col-sm-9">
                <div class="">
                    <div class="col-xs-12 col-sm-6 barraseccion5">
                        <h2> {{ 'Booking Body' }}</h2>
                        <div class="clear"></div>
                        <p>The desire to look and feel good has significantly increased the number of individuals seeking body sculpting procedures. When diet and exercise are not enough, people are turning to non-invasive body contouring procedures to eliminate
                            stubborn, unwanted fat. <br><br> Our different treatment programs guarantee the satisfaction of our clients: </p>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <img src="./assets/img/servicios/CATEGORiA-BODY.jpg" alt="Vali Skincare & Makeup">
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <h3 data-filter="all">{{ 'Select Category' }}</h3>
                <hr>
                <app-menubooking-body></app-menubooking-body>
            </div>
        </div>

    </div>
</section>
<div class="container">
    <iframe src="https://squareup.com/appointments/buyer/widget/mjxi79ti5xcayg/RFSCRQJSQAYNW" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>