<!-- Modal -->
<div class="modal fade bio" id="valentinaModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <img src="assets/img/valentina1.png" alt="Vali Skincare & Makeup Valentina">
                <h2>Valentina Algarra</h2>
            </div>
            <div class="modal-body">
                <br><br>
                <p> Is a Professional Esthetician, Body Contouring, Health Coaching and Makeup Artist licensed in Florida. Her experience using the latest technology with the best products in the cosmetic field guarantee the most effective results according
                    to the individual needs of each client. <br><br> She is always up-to-date on the newest procedures, including the modern body contouring, restorative facials, skin tightening procedures and makeup for special occasions. Valentina is
                    outstanding in terms of semipermanent or permanent makeup, and will help you find the right products and coach you in the path to achieving optimal, personalized results. <br><br> She is humorous and possesses much charisma, and always
                    treats her clients with the utmost respect, patience and love. Valentina pays extraordinary attention to detail and dedicates herself to her clients’ needs. They love her for her knowledge in esthetics, beauty and appreciate that she
                    has their best interest in sharing her love with all her customers. Her passion for the beauty and esthetic fields has led her to devote her life to the service and attention of people and to help them feel better with their bodies.
                    <br><br> Her goal has always been making every client feel like she is walking the red carpet every day. <br><br> Every face and body represents a new challenge with a natural beauty that can be enhanced through carefully placed strokes
                    of treatments. Stretch mark camouflage, BB Glow, Fibroblast, Microblading, Microneedling, Microdermabrasion, Body Sculpting and Wrapping are just some treatments and procedures offered to assist you in reaching your desired results.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade bio" id="lissetteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <img src="assets/img/lissette.png" alt="Vali Skincare & Makeup Lissette">
                <h2>Lissette Larrazabal</h2>

            </div>
            <div class="modal-body">
                <br><br>
                <p>is a Professional Esthetician with a license for Body Contouring Licensed from the state of Florida. <br><br> She was born in Venezuela, which is recognized as the country of beautiful women as a product of miscegenation. She states that
                    her interest in aesthetics comes from three places: the first, she was raised by her mother, who has more than 40 years of experience in the area. The second reason is that it is very satisfying to connect with her patients, establishing
                    trust and being able to pay personal attention to the needs of their skin. Finally, she believes that investing in one’s skin is a benefit that will last a lifetime.<br><br> She is inspired by the Greek word aisthētikós, which means
                    "perception or sensitivity" when working. Lissette is characterized for having these qualities with each of her clients, and that makes her stand out in her field.
                    <br><br> She is professional in aesthetics and body wrapping, and she is also involved in the latest technologies the market has to offer, thus guaranteeing the best results to our distinguished clientele. Among many of the treatments
                    in which she is specialized are microblading, microdermabarsion, body wrapping, cavitation and lymphatic drainage, which are renowned for the results they bring. <br><br> She effectively determines appropriate and successful treatments
                    for her patients, as well, as analyzing the need for each of them. She offers a tailored experience that is undeniably unique to each guest and listens to their specific requests and concerns to provide a level of personal service
                    that is second to none.<br><br>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>