<!-- Modal -->
<div class="modal fade bio" id="valentinaModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <img src="assets/img/valentina1.png" alt="Vali Skincare & Makeup Valentina">
                <h2>Valentina Algarra</h2>
            </div>
            <div class="modal-body">
                <br><br>
                <p> Fundadora y CEO de <b>Vali Skincare & Makeup</b>, Esteticista Profesional, Contorno Corporal, Body Wrapping, Entrenadora de Salud y Maquilladora Profesional. Su experiencia y actualización en el uso de la última tecnología y los mejores
                    productos en el campo cosmético, se ven materializados en los protocolos ofrecidos en <b>Vali Skincare & Makeup</b>, sin duda alguna, garantizan los resultados más efectivos de acuerdo con las necesidades individuales de cada cliente.<br><br>                    La actualización continua de los procedimientos, equipos y productos, permiten desarrollar nuevos tratamientos con la última tendencia del mercado, que incluyen, el contorno corporal moderno, tratamientos faciales restauradores, los
                    procedimientos de estiramiento de la piel, maquillaje permanente, fibroblast y el maquillaje para ocasiones especiales. Contamos con un gran surtido de los mejores productos que los ayudará a encontrar el resultado buscado a su necesidad
                    específica guiándolos a través de sesiones personalizadas para el cuidado de la piel y belleza.<br><br>Trabajamos día a día con la mejor actitud, buen humor y carisma, transmitiendo respeto, paciencia y amor a todos nuestros clientes.
                    Nos preocupamos por cada detalle en la búsqueda de nuestros clientes por sentirse mejor con su piel y su cuerpo. La clave de nuestro éxito ha sido brindarles una experiencia única donde están involucrados todos los sentidos.<br><br>
                    <span style="font-style: italic;"> “La meta es hacer que  cada cliente se sienta caminando en la alfombra roja todos los días”. <br> <br>
                  “Cada rostro y cuerpo representa un nuevo reto con su belleza natural que se puede mejorar a través de los tratamientos que desarrollamos cuidadosamente”. </span>

                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
