<!-- Modal -->
<div class="modal fade bio" id="valentinaModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <img src="assets/img/valentina1.png" alt="Vali Skincare & Makeup Valentina">
                <h2>Valentina Algarra</h2>
            </div>
            <div class="modal-body">
                <br><br>
                <p> Esteticista profesional, Contorno Corporal, Entrenadora de Salud y Maquilladora. Su experiencia en el uso de la última tecnología con los mejores productos en el campo cosmético garantiza los resultados más efectivos de acuerdo con las
                    necesidades individuales de cada cliente.
                    <br><br> Siempre está al día con los procedimientos más nuevos, incluidos el contorno corporal moderno, tratamientos faciales restauradores, los procedimientos de estiramiento de la piel y el maquillaje para ocasiones especiales. Valentina
                    es sobresaliente en términos de maquillaje semipermanente o permanente, y lo ayudará a encontrar los productos correctos y lo guiará en el camino para lograr resultados óptimos y personalizados.

                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade bio" id="lissetteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <img src="assets/img/lissette.png" alt="Vali Skincare & Makeup Lissette">
                <h2>Lissette Larrazabal</h2>

            </div>
            <div class="modal-body">
                <br><br>
                <p>Esteticista Profesional y Contorno Corporal con licencia. <br> Ella nació en Venezuela, que es reconocida como el país de las mujeres hermosas como producto del mestizaje. Ella afirma que su interés en la estética proviene de tres lugares:
                    el primero, fue criada por su madre, que tiene más de 40 años de experiencia en el área. La segunda razón es que es muy satisfactorio conectarse con sus pacientes, establecer confianza y poder prestar atención personal a las necesidades
                    de su piel. Finalmente, ella cree que invertir en la piel es un beneficio que durará

                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>