<div class="container" ng-controller="listadoCtrl">

    <section class="barraseccion ">
        <div class="container barraseccionContact">
            <div class="col-sm-10 col-sm-push-1 ">
                <h2> {{ 'Search' | translate }}</h2>
                <div class="clear"></div>
                <br><br>
                <div class="input-group col-xs-12">

                    <input #input (keyup.enter)="buscar(input.value)" type="text" class="form-control col-xs-12" placeholder="Buscar y enter"> <a class="srh-btn"><i class="ti-close"></i></a>

                </div>
            </div>

        </div>
        <div class="clear"></div><br><br>
        <div class="col-sm-4">
            <div class="card card-default">
                <div class="card-body card-7-5">
                    <div class="card-left">
                        <img src="http://localhost:8888/proyectos/vali/server/media/images/servicios/wax/3_FULL-FACE-WAX.jpg">
                    </div>
                    <div class="card-right">
                        <h3>Heading</h3>
                        <p>A stitch in time saves nine. All good things come to those who wait. Too many cooks spoil the broth. I have seen the future, and it works.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>