<div [hidden]="submitted">
    <form (ngSubmit)="onSubmit()" #contactForm="ngForm">
        <div class="form-group camp col-xs-12  col-sm-6">
            <input type="text" name="name" id="name" [(ngModel)]="model.name" class="form-control" placeholder="Primer nombre" required #name="ngModel">
            <div *ngIf="name.invalid && (name.dirty || name.touched)" class="error">
                <div *ngIf="name?.errors.required">
                    Nombre es requerido.
                </div>
            </div>
        </div>
        <div class="form-group camp col-xs-12  col-sm-6">
            <input type="text" name="lastname" id="lastname" [(ngModel)]="model.lastname" class="form-control" placeholder="Apellido" required #lastname="ngModel">
            <div *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)" class="error">
                <div *ngIf="lastname?.errors.required">
                    Apellido es requerido.
                </div>
            </div>
        </div>
        <div class="form-group camp col-xs-12  col-sm-6">
            <input type="text" name="email" id="email" [(ngModel)]="model.email" class="form-control" placeholder="Correo Electrónico" required email #email="ngModel">
            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="error">
                <div *ngIf="email?.errors.required"> Correo es requerido</div>
                <div *ngIf="email?.errors.email"> debe ser un correo válido</div>
            </div>
        </div>
        <div class="form-group camp col-xs-12  col-sm-6">
            <input type="text" name="phone" id="phone" [(ngModel)]="model.phone" class="form-control" placeholder=" Teléfono">
        </div>
        <div class="form-group camp2 col-xs-12">
            <textarea name="message" id="message" [(ngModel)]="model.message" rows="5" class="form-control" placeholder=" Mensaje" required #message="ngModel"></textarea>
            <div *ngIf="message.invalid && (message.dirty || message.touched)" class="error">
                <div *ngIf="message?.errors.required">Mensaje es requerido. </div>
            </div>
        </div>
        <div class="form-group">
            <button [disabled]="!contactForm.form.valid" class="boton col-xs-8 col-xs-offset-2 col-md-4 col-md-offset-4"> Enviar</button>
        </div>
    </form>
</div>
<div class="service-error" *ngIf="error">
    <h1>{{error.errorTitle}}</h1>
    <h3>{{error.errorDesc}}</h3>
</div>

<div [hidden]="!submitted" class="contact-message">
    <div *ngIf="model.id" class="contact-success">
        <h3 class="success"> Exito!</h3>
        <h4> El correo ha sido enviado.</h4>
        <br />
        <button (click)="gotoHome()" class="btn btn-info"> Volver al inicio</button>
    </div>
</div>
