/*.sideMenu.open {
    top: 50px;
    padding-top: 0px;
}

.navbar-toggle .icon-bar {
    background-color: black;
}

.navbar-inverse {
    background-color: #fff;
    border-color: #fff;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #ccc;
}

.sidebarNavigation .left-navbar-toggle {
    margin-left: 0px;
}*/

header {
    width: 100%;
    height: 140px;
    background-color: var(--rosadoheader);
    border-bottom: 1px solid var(--linea);
    border-top: 1px solid var(--linea);
    padding: 10px 0;
}

@media (max-width:480px) {
    .hidden-smmalc {
        display: none;
    }
    .visible-smmalc {
        display: block;
    }
    .logo img {
        width: 24%;
        display: block;
        margin-top: -80px;
        float: left;
        margin-left: 0px;
    }
    .navbar-brand p {
        float: right;
        margin-top: -50px;
        text-align: right;
    }
    .navbar {
        padding-top: 0px;
        margin-top: -50px;
    }
    .sideMenu {
        top: 0px;
        max-width: 90%;
        height: 100vh;
        padding-top: 15px;
    }
    .navbar-toggle .icon-bar {
        background-color: black;
    }
    header {
        height: 77px;
    }
}

@media (min-width:481px) and (max-width:767px) {
    .hidden-smmalc {
        display: none;
    }
    .visible-smmalc {
        display: block;
    }
    .logo img {
        width: 18%;
        display: block;
        margin-top: -20px;
        float: left;
        margin-left: 0px;
    }
    .navbar-brand p {
        float: right;
        margin-top: 0px;
        text-align: right;
    }
    .navbar {
        padding-top: 0px;
        margin-top: 20px;
    }
    .sideMenu {
        top: 0px;
        max-width: 90%;
        height: 100vh;
        position: absolute;
        z-index: 99999;
    }
    .navbar-toggle .icon-bar {
        background-color: black;
    }
}

@media (min-width:760px) {
    .hidden-smmalc {
        display: block;
    }
    .visible-smmalc {
        display: none;
    }
    .logo img {
        width: 28%;
        display: block;
        margin-top: -70px;
    }
    .logo img {
        width: 25%;
        display: block;
        margin-top: -60px;
    }
}

@media ( min-width:1020px) {
    .navbar a {
        font-size: 14px;
    }
    .logo img {
        width: 40%;
        display: block;
        margin-top: -60px;
    }
}

@media ( max-width:1024px) {}

@media only screen and ( min-width:490px) and ( max-width:736px) {
    header {
        height: 77px;
    }
    .logo img {
        width: 26%;
        display: block;
        margin-top: -73px;
    }
    .sidebarNavigation .left-navbar-toggle {
        float: left;
        margin-right: 0;
        margin-left: -20px;
        margin-top: -40px;
    }
    .parallax {
        background-attachment: scroll;
        background-repeat: no-repeat;
        background-size: contain;
        height: 100vh;
    }
    .parallax h1 {
        font-size: 50px !important;
    }
    .infoparalax {
        top: 50px;
    }
    .valentina {
        display: flex;
    }
    .valentina h1 {
        margin: 0;
        padding: 0;
    }
    .page-desc {
        display: block;
        width: 50%;
        margin: 0 auto;
    }
    footer img {
        display: block;
        margin: 0 auto;
        width: 20%;
    }
    .ourtext {
        display: flex;
    }
    .sideMenu {
        padding-bottom: 80px;
    }
}

@media (max-width: 320px) {
    .logo img {
        width: 20%;
        display: block;
        margin-top: -70px;
        margin-left: 0px;
    }
}

@media (min-width: 769px) and ( max-width:1024px) {
    .navbar a {
        font-size: 14px;
    }
    header {
        height: 140px;
    }
    .navbar-nav {
        margin-top: -20px;
    }
    .logo img {
        width: 30%;
        display: block;
        margin-top: -60px
    }
    .navbar-nav {
        margin-top: -40px;
        float: left;
        display: grid;
    }
    header {
        height: 114px;
    }
}


/*--- ipad --*/

@media (min-width: 761px) and ( max-width:1024px) and (orientation:portrait) {
    .navbar a {
        font-size: 14px;
    }
    .logo img {
        width: 23%;
        display: block;
        margin-top: -60px
    }
    .navbar-nav {
        margin-top: -70px;
    }
    header {
        height: 100px;
    }
    .navbar-nav {
        margin-top: -70px;
        position: relative;
        left: 0;
        top: 30px;
        display: grid;
    }
}

@media (min-width: 761px) and ( max-width:1024px) and (orientation:landscape) {
    .logo img {
        width: 35%;
        display: block;
        margin-top: -65px;
    }
}
