<!-- Modal -->
<div *ngFor="let restorative of restoratives; let i = index">
    <div class="modal fade modalproductos" id="{{restorative.popup}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body modalserv">
                    <h3>{{restorative.titleesp}}</h3>
                    <p [innerHTML]="restorative.descriptionesp | keepHtml"></p>
                </div>
                <div class="modal-footer">
                    <h3>${{restorative.price}}</h3>
                    <h4 class="{{restorative.is_activeTf}}">{{restorative.textFinancEsp}}</h4>

                    <!-- Start Square Appointments Embed code --><a class="boton" target="_blank" style=" background-color: #2996cc; color: white; height: 40px; text-transform: uppercase; font-family: 'Square Market', 'helvetica neue', helvetica, arial, sans-serif; letter-spacing: 1px; line-height: 38px; padding: 0 28px; border-radius: 3px; font-weight: 500; font-size: 14px; cursor: pointer; display: inline-block; "
                        href="{{restorative.button}}">Agendar Cita</a>
                    <!-- End Square Appointments Embed code -->
                </div>
            </div>
        </div>
    </div>
</div>