<ul>
    <li><a routerLink="/booking-facial-anti-edad"> Tratamientos Anti Edad </a></li>
    <li><a routerLink="/booking-tratamientos-restaurativos-faciales">Tratamientos Restaurativos</a></li>
    <li><a routerLink="/booking-tratamientos-relajantes-faciales">Tratamientos Relajantes </a></li>
    <li><a routerLink="/booking-tratamientos-brillo-claridad-facial">Tratamiento para Aclarar</a></li>
    <li><a routerLink="/booking-tratamientos-especiales-facial">Tratamientos Especiales</a></li>
    <li><a routerLink="/booking-tratamientos-de-lujo-facial"> Tratamientos de Lujo</a></li>
</ul>