<ul>
    <li><a routerLink="/booking-facial-anti-aging-treatment"> {{ 'Anti Aging Treatments'  }}</a></li>
    <li><a routerLink="/booking-facial-restorative-facial-treatments"> {{ 'Restorative Facial Treatments'  }}</a></li>
    <li><a routerLink="/booking-facial-calming-treatment"> {{ 'Calming Facial Treatments'  }} </a></li>
    <li><a routerLink="/booking-facial-brigthening-and-clearing-facial-peel"> {{ 'Brightening and Clearing Facial Peel Treatments'  }}</a></li>
    <li><a routerLink="/booking-facial-special-treatments"> {{ 'Special Facial Treatments'  }}</a></li>
    <li><a routerLink="/booking-facial-luxury-treatments"> {{ 'Luxury Facials Treatments'  }}</a></li>
</ul>