<section>
    <div class="container barraseccion">
        <div class="row">
            <div class="col-xs-12 col-sm-6 barraseccion5">
                <h2> Manos y Piernas</h2>
                <div class="clear"></div>
                <div class="col-xs-12">
                    <p>Nuestro objetivo es sacarlo de nuestra cabaña satisfecho con nuestros servicios, por eso trabajamos creando una serie de tratamientos para cubrir áreas específicas olvidadas, como las manos y los pies, centrados en los atletas, piernas
                        con venas varicosas y cansados, dolor en los huesos y articulaciones, entre otras, tratando de cubrir al máximo las necesidades de nuestros valiosos clientes.
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 bord">
                <img src="./assets/img/servicios/1.HANDS-HYDRATING-WITH-EXFOLIATION-PARAFFIN-TREATMENT.jpg" alt="Manos y Piernas Vali Spa">
            </div>
        </div>
    </div>
</section>
<section class="">
    <div class=" barraseccion-sola"></div>
</section>

<section class="serviceslist ">
    <div class="container">
        <div class="col-sm-3">
            <h3 data-filter="all"> Seleccionar Categoría</h3>
            <hr>
            <app-menubody></app-menubody>
        </div>
        <div class="col-sm-9">
            <div *ngFor="let hand of hands; let i=index">
                <a data-toggle="modal" [attr.data-target]="'#' + hand.popup">
                    <div class="col-xs-6 col-sm-3 cuadro cuadro3" [ngStyle]="{'background-image': 'url(' + hand.image + ')'}" title="Vali Spa {{hand.titleesp}}">
                        <div class="conten">
                            <h3>{{hand.titleesp}}</h3>
                            <button class="btn"> + info</button>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="service-error" *ngIf="error">
            {{error}}
        </div>

    </div>
</section>
<div class="container bookingiframe">
    <iframe src="https://squareup.com/appointments/buyer/widget/wfuv2uzw8pzo2s/RFSCRQJSQAYNW" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
<app-body-h-modal></app-body-h-modal>
