<section>
    <div class="container barraseccion">
        <div class="col-xs-12 col-sm-6 barraseccion5">
            <h2> Maquillaje de Novia</h2>
            <div class="clear"></div>
            <div class="col-xs-12">
                <p>La oportunidad perfecta para comenzar a coordinar su aspecto con todos los demás elementos de su día especial, como el color del vestido, las flores, su fiesta nupcial e incluso el lugar. Es el momento de experimentar con los estilos de
                    maquillaje que te gustaría probar,... por supuesto, no olvides a tus amigas y familiares ... ¡también se verán hermosas!
                </p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 bord">
            <img src="./assets/img/servicios/CATEGORiA-MakeupBridal.jpg" alt="Maquillaje de Novia Vali Spa">
        </div>
    </div>
</section>
<section class="">
    <div class=" barraseccion-sola"></div>
</section>

<section class="serviceslist ">
    <div class="container">
        <div class="col-sm-3">
            <h3 data-filter="all">Seleccionar Categoría</h3>
            <hr>
            <app-menumakeup></app-menumakeup>
        </div>
        <div class="col-sm-9">
            <div *ngFor="let bridal of bridals; let i=index">
                <a data-toggle="modal" [attr.data-target]="'#' + bridal.popup">
                    <div class="col-xs-6 col-sm-3 cuadro cuadro3" [ngStyle]="{'background-image': 'url(' + bridal.image + ')'}" title="Vali Spa {{bridal.titleesp}}">
                        <div class="conten">
                            <h3>{{bridal.titleesp}}</h3>
                            <button class="btn">+ info</button>
                        </div>
                    </div>
                </a>
            </div>

        </div>
        <div class="service-error" *ngIf="error">
            {{error}}
        </div>

    </div>
</section>
<div class="container">s
    <iframe src="https://squareup.com/appointments/buyer/widget/v3rqcbkbnrmx21/RFSCRQJSQAYNW" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>

<app-makeup-b-modal></app-makeup-b-modal>e
