<section>
    <div class="container barraseccion">
        <div class="col-xs-12 col-sm-6 barraseccion5">
            <h2>{{ 'Booking Facial Luxury Treatments' | translate }} </h2>
            <div class="clear"></div>
            <div class="col-xs-12">
                <p>Exclusive treatments at Vali Skincare & Makeup includes highly effective top performing modalities in Spa technology. Hydra Facials with soothing and invigorating spa therapies to achieve instant hydration and lasting results without any
                    discomfort or downtime. Microcurrents are then used for firming and lifting. Galvanic technology propels high-potent actives deep into the skin, minimizing lines, wrinkles, hyper-pigmentation and sensitivity. Oxygen infusion drives
                    potent actives to restore elasticity, stimulate tissue, repair, heal and rebalance the skin. These treatments are completed with our Luxury face neck and décolleté hydroplastic mask, leaving the skin ready for a close up.</p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 bord">
            <img src="./assets/img/servicios/2.HYDRA-FACIAL-ADVANCE-SKIN-TREATMENT.jpg" alt="Vali Skincare & Makeup">
        </div>
    </div>
</section>
<section>
    <div class=" barraseccion-sola"></div>
</section>
<section class="serviceslist">
    <div class="container barraseccion">
        <div class="">
            <div class="col-xs-12">
                <h3 data-filter="all">{{ 'Select Category' | translate }}</h3>
                <hr>
                <app-menubooking-facial></app-menubooking-facial>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <iframe src="https://squareup.com/appointments/buyer/widget/ee2dv4jgismicy/RFSCRQJSQAYNW" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>