<section class="serviceslist">
    <div class="container barraseccion">
        <div class="col-sm-3">
            <h3 data-filter="all">{{ 'Select Category' | translate }}</h3>
            <hr>
            <app-menufibroblast></app-menufibroblast>
        </div>
        <div class="col-sm-9">
            <div class="col-xs-12 col-sm-6 barraseccion5">
                <h2>FibroBlast</h2>
                <div class="clear"></div>
                <p>FibroBlast Plasma Treatment is a new, non-invasive skin tightening procedure known for reducing wrinkles, fine lines and excess skin. The treatment is very popular among the beauty and aesthetic community, offers low risk, minimal downtime,
                    is less invasive and less expensive than surgery. <br><br> Using a "plasma pen", the FibroBlast treatment transmits an electrical current to the upper dermal layer of the skin, which causes the tissue to retract and contract. This
                    micro-trauma stimulates the growth of new collagen and helps release active proteins and growth factors, giving the skin a firmer, more youthful appearance. <br><br> The FibroBlast plasma is more than a standard procedure for stretching
                    the skin, the amount or volume of the skin is actually reduced. The results will be noticeable immediately after the first treatment and should last for years with regular maintenance and maintenance (similar to the more invasive procedures).</p>
            </div>
            <div class="col-xs-12 col-sm-6">
                <img src="./assets/img/servicios/CATEGORiA-FIBROBLAST.jpg" alt="Vali Skincare & Makeup">
            </div>
        </div>
    </div>
</section>

<section class="serviceslist">
    <div class="container barraseccion">
        <div class="col-xs-12 col-sm-6 ">
            <img src="./assets/img/servicios/Fibroblast.jpg" alt="Vali Skincare & Makeup">
        </div>

        <div class="col-xs-12 col-sm-6 ">
            <h3>FibroBlast can treat a number of skin conditions without downtime or skin damage</h3>
            <hr class="fibr">
            <p>The treatment can be used to: </p>

            <ul>
                <li>Eyelid adjustment, including the lower eyes and excess skin of the upper eyelid. </li>
                <li>Imperfections of the skin, skin marks and sunspots. </li>
                <li>Improvement in the appearance of acne scars. </li>
                <li>Tighten the loose belly skin after pregnancy.</li>
                <li>Lines and wrinkles around the face.</li>
                <li>Chin and neck adjustment.</li>
                <li>Knee caps and armpits.</li>
            </ul>
        </div>
    </div>
</section>

<section class="serviceslist ">
    <div class="container barraseccion">
        <div class="col-xs-12 col-sm-3">
            <img src="./assets/img/hoja4.png" style="width:auto; display: block; margin: auto; border: none" alt="Vali Skincare & Makeup">
        </div>
        <div class="col-xs-12 col-sm-6">
            <h3>How long do the treatments take and <br> how many treatments do I need?</h3>
            <p>The number of treatments will vary depending on the area to be treated, the condition of the skin, age, the level of exposure to sun damage, etc.</p>
        </div>
        <div class="col-xs-12 col-sm-3">
            <img src="./assets/img/interrogacion.png" style="width:auto; display: block; margin: auto; border: none" alt="Vali Skincare & Makeup">
        </div>
    </div>
</section>
<div class="container">
    <iframe src="https://squareup.com/appointments/buyer/widget/ulevn582w3qjkp/RFSCRQJSQAYNW" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>