<section class="serviceslist">
    <div class="container barraseccion">
        <div class="col-sm-3">
            <h3 data-filter="all">Seleccionar Categoría</h3>
            <hr>
            <app-menufibroblast></app-menufibroblast>
        </div>
        <div class="col-sm-9">
            <div class="col-xs-12 col-sm-6 barraseccion5">
                <h2>FibroBlast</h2>
                <div class="clear"></div>
                <p>
                    El tratamiento de Fibroblast con plasma es un nuevo procedimiento de estiramiento de la piel no invasivo conocido por reducir las arrugas, las líneas finas y el exceso de piel. El tratamiento es muy popular entre la comunidad de belleza y estética, ofrece
                    un bajo riesgo, un tiempo de inactividad mínimo, es menos invasivo y menos costoso que la cirugía.
                    <br><br>Usando una "pluma de plasma", el tratamiento FibroBlast transmite una corriente eléctrica a la capa dérmica superior de la piel, lo que hace que el tejido se retraiga y se contraiga. Este micro-trauma estimula el crecimiento
                    de colágeno nuevo y ayuda a liberar proteínas activas y factores de crecimiento, dando a la piel una apariencia más firme y juvenil.

                    <br><br>El Fibroblast es más que un procedimiento estándar para estirar la piel, la cantidad o el volumen de la piel. Los resultados serán notables inmediatamente después del primer tratamiento y deben durar años con un mantenimiento
                    regular (similar a los procedimientos más invasivos).

                </p>
            </div>
            <div class="col-xs-12 col-sm-6">
                <img src="./assets/img/servicios/CATEGORiA-FIBROBLAST.jpg" alt=" FibroBlast Vali Spa">
            </div>
        </div>
    </div>
</section>

<section class="serviceslist">
    <div class="container barraseccion">
        <div class="col-xs-12 col-sm-6 ">
            <img src="./assets/img/servicios/Fibroblast.jpg" alt=" FibroBlast Vali Spa">
        </div>

        <div class="col-xs-12 col-sm-6 ">
            <h3>El tratamiento puede tratar varias afecciones de la piel sin tiempo de inactividad ni daños en la piel. </h3>
            <hr class="fibr">
            <p>El tratamiento puede ser utilizado para: </p>

            <ul>
                <li>Ajuste del párpado, incluidos los ojos inferiores y el exceso de piel del párpado superior.</li>
                <li>Imperfecciones de la piel, marcas cutáneas y manchas solares.</li>
                <li>Mejora en la aparición de cicatrices de acné. </li>
                <li>Apretar la piel del vientre suelto después del embarazo.</li>
                <li>Líneas y arrugas alrededor de la cara.</li>
                <li>Ajuste de barbilla y cuello.</li>
                <li>Gorras de rodilla y axilas.</li>
            </ul>
        </div>
    </div>
</section>

<section class="serviceslist ">
    <div class="container barraseccion">
        <div class="col-xs-12 col-sm-3">
            <img src="./assets/img/hoja4.png" style="width:auto; display: block; margin: auto; border: none" alt="Vali Spa">
        </div>
        <div class="col-xs-12 col-sm-6">
            <h3>How long do the treatments take and <br> how many treatments do I need?</h3>
            <p>El número de tratamientos variará dependiendo del área a tratar, el estado de la piel, la edad, el nivel de exposición al daño solar, etc.</p>
        </div>
        <div class="col-xs-12 col-sm-3">
            <img src="./assets/img/interrogacion.png" style="width:auto; display: block; margin: auto; border: none" alt="Vali Spa">
        </div>
    </div>
</section>
<div class="container">
    <iframe src="https://squareup.com/appointments/buyer/widget/ulevn582w3qjkp/RFSCRQJSQAYNW" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
