<section>
    <div class="container barraseccion">
        <div class="col-xs-12 col-sm-6 barraseccion5 ">
            <h2> Depilacion con Cera</h2>
            <div class="clear"></div>
            <p>Muchas personas tienen miedo del dolor que se asocia con hacer una depilación con cera. La verdad del asunto es que cuanto más se encere un área específica, menos doloroso será. Al principio, el dolor será impactante, pero si sigues recibiendo
                cera de vez en cuando, te acostumbrarás. La eliminación del vello dura más que el afeitado, ya que lo extrae directamente de sus raíces. Cuando enceras, no corres el riesgo de sufrir cortes o cicatrices como cuando te afeitas. Es posible
                que tenga sarpullidos después del afeitado, especialmente si tiene piel sensible. La depilación no te dejará ningún sarpullido. La depilación no consume mucho tiempo, es rápido y conveniente. Garantizamos el uso del mejor producto en el
                mercado del cuidado de la piel para garantizar los mejores resultados en el tratamiento que elija.


                <br><br> El especialista en cuidado de la piel en nuestro lugar puede ayudarlo a eliminar todo o parte de su cabello en áreas de su cuerpo que no querría tener allí. Llama hoy para concertar una cita con nosotros. Te sentirás bella y suave
                como la seda. </p>

        </div>
        <div class="col-xs-12 col-sm-6 bord">
            <img src="./assets/img/servicios/CATEGORiA-WAX.jpg" alt="Vali Skincare & Makeup Depilacion con cera">
        </div>
    </div>
</section>

<section>
    <div class=" barraseccion-sola"></div>
</section>


<section class="serviceslist">
    <div class="container">
        <div *ngFor="let wax of waxs; let i=index">
            <a data-toggle="modal" [attr.data-target]="'#' + wax.popup">
                <div class="col-xs-6 col-sm-3 cuadro cuadro3" [ngStyle]="{'background-image': 'url(' + wax.image + ')'}">
                    <div class="conten">
                        <h3>{{wax.titleesp}}</h3>
                        <button class="btn">+ info</button>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="service-error" *ngIf="error">
        {{error}}
    </div>
</section>



<div class="container">
    <iframe src="https://squareup.com/appointments/buyer/widget/jw02o4nl6i3lep/RFSCRQJSQAYNW" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>


<app-waxmodal></app-waxmodal>