<app-waxinfo></app-waxinfo>
<section>
    <div class=" barraseccion-sola"></div>
</section>
<section class="serviceslist ">
    <div class="container">
        <div *ngFor="let wax of waxs; let i=index">
            <a data-toggle="modal" [attr.data-target]="'#' + wax.popup">
                <div class="col-xs-6 col-sm-3 cuadro cuadro3" [ngStyle]="{'background-image': 'url(' + wax.image + ')'}">
                    <div class="conten">
                        <h3>{{ wax.title | translate }}</h3>
                        <button class="btn">{{ 'More' | translate }}</button>
                    </div>
                </div>
            </a>
        </div>
        <div class="service-error" *ngIf="error">
            {{error}}
        </div>
    </div>
</section>



<div class="container">
    <iframe src="https://squareup.com/appointments/buyer/widget/jw02o4nl6i3lep/RFSCRQJSQAYNW" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>


<app-waxmodal></app-waxmodal>