<section>
    <div class="container barraseccion">
        <div class="col-xs-12 col-sm-6 barraseccion5">
            <h2> Booking Anti edad</h2>
            <div class="clear"></div>
            <div class="col-xs-12">
                <p>Realizamos tratamientos faciales específicos para prevenir y combatir el envejecimiento de la piel y las arrugas. En este caso, Vali SkinCare & Makeup le ofrece una variedad de opciones con equipos de alta tecnología y nuevas técnicas
                    para crear los mejores servicios cerca de usted, como oxigenar, eliminar manchas, reafirmar, mejorar la resequedad, reducir líneas finas, exfoliaciones profundas, protección a largo plazo con células madre, hidrataciones intensivas
                    y tratamientos de colágeno. para iluminar, levantar y encontrar una piel de aspecto juvenil.

                    <br><br> Para obtener mejores resultados, recomendamos uno de estos tratamientos cada 15 días
                </p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 bord">
            <img src="./assets/img/servicios/3.ANTI-AGING-COLLAGEN-TREATMENT.jpg" alt="Vali Skincare & Makeup">
        </div>
    </div>
</section>
<section>
    <div class=" barraseccion-sola"></div>
</section>

<section class="serviceslist">
    <div class="container barraseccion">
        <div class="">
            <div class="col-xs-12">
                <h3 data-filter="all">Seleccionar Categoría</h3>
                <hr>
                <app-menubooking-facial></app-menubooking-facial>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <iframe src="https://squareup.com/appointments/buyer/widget/rkcqwtt9qs0i8q/RFSCRQJSQAYNW" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>