<app-banner></app-banner>

<section class="barraseccion barraseccion-hoja up">
    <div class="container barraseccion1">
        <div class="col-sm-8 col-sm-push-2 col-md-6 col-md-push-3">
            <h2>Tratamientos</h2>
        </div>
    </div>
</section>

<section>
    <div class="container treatments up">
        <a href="facial" target="_self">
            <div class="col-sm-6 box" style="background-image: url(./assets/img/treatment-facial.jpg);">

                <h3> Facial</h3>

            </div>
        </a>
        <a href="cuerpo" target="_self">
            <div class="col-sm-6 box">
                <h3> Cuerpo</h3>
            </div>
        </a>
        <a href="depilacion-con-cera" target="_self">
            <div class="col-sm-6 box" style="background-image: url(./assets/img/treatment-wax.jpg);">
                <h3> Cera</h3>
            </div>
        </a>
        <a href="maquillaje-permanente" target="_self">
            <div class="col-sm-6 box boxPer">
                <h3> Maquillaje Permanente</h3>
            </div>
        </a>
        <div class="clear"></div>
        <a href="maquillaje" target="_self">
            <div class="col-sm-12 box2">
                <h3> Maquillaje</h3>
            </div>
        </a>
        <div class="clear"></div>
        <a href="tratamientos-especiales" target="_self">
            <div class="col-sm-6 box boxSp">
                <h3> Tratamientos Especiales</h3>
            </div>
        </a>
        <a href="fibroblast" target="_self">
            <div class="col-sm-6 box" style="background-image: url(./assets/img/treatment-fibroblast.jpg);">
                <h3> Fibroblast</h3>
            </div>
        </a>
    </div>
</section>

<section class="barraseccion up" style="background-color: #fafafa">
    <div class="container barraseccion2">
        <div class="col-sm-8 col-sm-push-2 col-md-6 col-md-push-3">
            <h2> Sobre Nosotros</h2>
        </div>
    </div>
</section>

<section class="infovalentina up">
    <div class="container">
        <div class="col-sm-4">
            <img src="assets/img/valentina1.png" alt="Vali Skincare & Makeup Valentina">
        </div>
        <div class="col-sm-8">
            <h1>Valentina</h1>
            <h2>Esteticista profesional, Contorno Corporal, Entrenadora de Salud y Maquilladora.</h2>
            <p class="col-xs-12 col-sm-10">
                Su experiencia en el uso de la última tecnología con los mejores productos en el campo cosmético garantiza los resultados más efectivos de acuerdo con las necesidades individuales de cada cliente.

            </p>
            <div class="clear"></div>
            <button type="button" class="botonmodal" data-toggle="modal" data-target="#valentinaModal">+ info</button>
        </div>
    </div>
</section>

<section class="barraseccion up" style="padding-bottom: 40px;">
    <div class="container barraseccion3">
        <div class="col-sm-8 col-sm-push-2 col-md-6 col-md-push-3">
        </div>
    </div>
</section>

<!--section class="infovalentina hidden-xs up">
    <div class="container">
        <div class="col-sm-8">
            <h1 style="text-align: right">Lissette</h1>
            <h2 style="text-align: right">Esteticista Profesional y Contorno Corporal con licencia.</h2>
            <p class="col-xs-12 col-sm-10 col-sm-push-2" style="text-align: right">Ella nació en Venezuela, que es reconocida como el país de las mujeres hermosas como producto del mestizaje. .</p>
            <div class="clear"></div>
            <button type="button" class=" botonmodal botonmodal1" data-toggle="modal" data-target="#lissetteModal">+ info </button>
        </div>
        <div class="col-sm-4">
            <img src="assets/img/lissette.png" alt="Vali Skincare & Makeup Lissette">
        </div>

    </div>
</section>

<section class="infovalentina visible-xs up">
    <div class="container">
        <div class="col-sm-4">
            <img src="assets/img/lissette.png" alt="Vali Skincare & Makeup Lissette">
        </div>
        <div class="col-sm-8">
            <h1>Lissette</h1>
            <h2>Esteticista Profesional y Contorno Corporal con licencia.</h2>
            <p class="col-xs-12 col-sm-10 col-sm-push-2">Ella nació en Venezuela, que es reconocida como el país de las mujeres hermosas como producto del mestizaje. .</p>
            <div class="clear"></div>
            <button type="button" class="botonmodal" data-toggle="modal" data-target="#lissetteModal">+ info </button>
        </div>

    </div>
</section-->

<section class="barraseccion up">
    <div class="container barraseccion4">
        <div class="col-sm-8 col-sm-push-2 col-md-6 col-md-push-3">
            <h2> Nuestro Lugar </h2>
        </div>
    </div>
</section>

<section class="ourplace up">
    <div class="container">
        <div class="col-xs-12 col-sm-6">
            <img src="assets/img/platos.png" alt="Vali Skincare & Makeup">
            <p>Nuestro acogedor estudio está ubicado dentro de un complejo de belleza en la ciudad de Miramar en Florida. Nuestro estudio tiene todos los permisos y regulaciones requeridos por Florida Health y la ciudad. Con la última tecnología y equipamiento,
                aseguramos el éxito de nuestros tratamientos exclusivos con atención personalizada.
                <br><br> La salud de su piel es nuestra principal prioridad, por eso siempre personalizamos todos nuestros tratamientos para satisfacer sus necesidades. No prometemos demasiado ni cumplimos. Establecemos objetivos realistas y ofrecemos
                opciones de tratamiento progresivas y seguras. Le ayudaremos a comprender mejor cuál es su tipo y condiciones particulares de piel, así como también cómo cuidar, mantener y equilibrar su piel en el hogar.
            </p>
            <hr>
            <p>Trabajamos de 8:00 am - 8:00 pm, <br> Lunes a Domingo, <b> sólo cita previa.</b><br>
                <b>Dirección:</b> 3061 Sw 160 Ave. Miramar FL 33027 Suite 135 <br>
                <b>Teléfono:</b> (786) 292-6120</p>
            <br><br>
        </div>
        <div class="col-xs-12 col-sm-6 ">
            <img src="assets/img/Vali-Our-Place.jpg" style="width:100%;" alt="Vali Skincare & Makeup ">
        </div>
    </div>
</section>

<div class="cinta ">
    <h3 class="text-center "> ¡Déjate llevar, relájate y disfruta con nosotros!</h3>
</div>

<div class="modal fade emergente " id="mostrarmodal " tabindex="-1 " role="dialog " aria-labelledby="basicModal " aria-hidden="true ">
    <div class="modal-dialog ">
        <div class="modal-content ">
            <div class="modal-header ">
                <button type="button " class="close " data-dismiss="modal " aria-hidden="true ">&times;</button>
            </div>
            <div class="modal-body ">
                <img src="assets/img/POPUP.jpg " alt="Vali Skincare & Makeup " style="display:block; width:100%; margin:auto; ">
            </div>
            <div class="modal-footer ">
            </div>
        </div>
    </div>
</div>


<app-bio></app-bio>
<app-emergente></app-emergente>
<script>
    $(document).ready(function() {
        $("#mostrarmodal").modal("show");
    });
</script>