<app-banner></app-banner>

<section class="barraseccion barraseccion-hoja up">
    <div class="container barraseccion1">
        <div class="col-sm-8 col-sm-push-2 col-md-6 col-md-push-3">
            <h2>{{ 'Treatments' | translate }}</h2>
        </div>
    </div>
</section>

<section>
    <div class="container treatments up">
        <a href="/facial" target="_self">
            <div class="col-sm-6 box" style="background-image: url(./assets/img/treatment-facial.jpg);">

                <h3> {{ 'Facial' | translate }}</h3>

            </div>
        </a>
        <a href="/body" target="_self">
            <div class="col-sm-6 box">
                <h3> {{ 'Body' | translate }}</h3>
            </div>
        </a>
        <a href="/wax" target="_self">
            <div class="col-sm-6 box" style="background-image: url(./assets/img/treatment-wax.jpg);">
                <h3> {{ 'Wax' | translate }}</h3>
            </div>
        </a>
        <a href="/permanent-makeup" target="_self">
            <div class="col-sm-6 box boxPer">
                <h3> {{ 'Permanent Makeup' | translate }}</h3>
            </div>
        </a>
        <div class="clear"></div>
        <a href="/makeup" target="_self">
            <div class="col-sm-12 box2">
                <h3> {{ 'Makeup' | translate }}</h3>
            </div>
        </a>
        <div class="clear"></div>
        <a href="/special-treatments" target="_self">
            <div class="col-sm-6 box boxSp">
                <h3> {{ 'Special Treatments' | translate }}</h3>
            </div>
        </a>
        <a href="/fibroblast" target="_self">
            <div class="col-sm-6 box" style="background-image: url(./assets/img/treatment-fibroblast.jpg);">
                <h3> {{ 'Fibroblast' | translate }}</h3>
            </div>
        </a>
    </div>
</section>

<section class="barraseccion up" style="background-color: #fafafa">
    <div class="container barraseccion2">
        <div class="col-sm-8 col-sm-push-2 col-md-6 col-md-push-3">
            <h2> {{ 'About Us' | translate }}</h2>
        </div>
    </div>
</section>

<section class="infovalentina up">
    <div class="container">
        <div class="col-sm-4">
            <img src="assets/img/valentina1.png" alt="Vali Skincare & Makeup Valentina">
        </div>
        <div class="col-sm-8">
            <h1>Valentina</h1>
            <h2>Professional Esthetician, Body Contouring, Health Coaching and Makeup Artist.</h2>
            <p class="col-xs-12 col-sm-10"> Her experience using the latest technology with the best products in the cosmetic field guarantee the most effective results according to the individual needs of each client. <br><br> She is always up-to-date on the newest procedures, including
                the modern body contouring, restorative facials, skin tightening procedures and makeup for special occasions. Valentina is outstanding in terms of semipermanent or permanent makeup, and will help you find the right products and coach you
                in the path to achieving optimal, personalized results.
            </p>
            <div class="clear"></div>
            <button type="button" class="botonmodal" data-toggle="modal" data-target="#valentinaModal">+ info</button>
        </div>
    </div>
</section>

<section class="barraseccion up" style="padding-bottom: 40px;">
    <div class="container barraseccion3">
        <div class="col-sm-8 col-sm-push-2 col-md-6 col-md-push-3">
        </div>
    </div>
</section>

<section class="infovalentina hidden-xs up">
    <div class="container">
        <div class="col-sm-8">
            <h1 style="text-align: right">Lissette</h1>
            <h2 style="text-align: right">Professional Esthetician And Body Contouring Licensed.</h2>
            <p class="col-xs-12 col-sm-10 col-sm-push-2" style="text-align: right">She was born in Venezuela, which is recognized as the country of beautiful women as a product of miscegenation. She states that her interest in aesthetics comes from three places: the first, she was raised by her mother, who has more than
                40 years of experience in the area. The second reason is that it is very satisfying to connect with her patients, establishing trust and being able to pay personal attention to the needs of their skin. Finally, she believes that investing
                in one’s skin is a benefit that will last a lifetime.</p>
            <div class="clear"></div>
            <button type="button" class=" botonmodal botonmodal1" data-toggle="modal" data-target="#lissetteModal">+ info </button>
        </div>
        <div class="col-sm-4">
            <img src="assets/img/lissette.png" alt="Vali Skincare & Makeup Lissette">
        </div>

    </div>
</section>

<section class="infovalentina visible-xs up">
    <div class="container">
        <div class="col-sm-4">
            <img src="assets/img/lissette.png" alt="Vali Skincare & Makeup Lissette">
        </div>
        <div class="col-sm-8">
            <h1>Lissette</h1>
            <h2>Professional Esthetician And Body Contouring Licensed.</h2>
            <p class="col-xs-12">She was born in Venezuela, which is recognized as the country of beautiful women as a product of miscegenation. She states that her interest in aesthetics comes from three places: the first, she was raised by her mother, who has more than
                40 years of experience in the area. The second reason is that it is very satisfying to connect with her patients, establishing trust and being able to pay personal attention to the needs of their skin. Finally, she believes that investing
                in one’s skin is a benefit that will last a lifetime.</p>
            <div class="clear"></div>
            <button type="button" class="botonmodal" data-toggle="modal" data-target="#lissetteModal">+ info </button>
        </div>

    </div>
</section>

<section class="barraseccion up">
    <div class="container barraseccion4">
        <div class="col-sm-8 col-sm-push-2 col-md-6 col-md-push-3">
            <h2> {{ 'Our Place' | translate }} </h2>
        </div>
    </div>
</section>

<section class="ourplace up">
    <div class="container">
        <div class="col-xs-12 col-sm-6">
            <img src="assets/img/platos.png" alt="Vali Skincare & Makeup">
            <p>Our cozy studio is located within a beauty complex in the city of Miramar in Florida. Our studio has all the permits and regulations required by Florida Health and the city. With the last technology and equipment, we ensure the success of
                our exclusive treatments with personalized attention. <br><br> Your skin health is our top priority, which is why we always customize all our treatments to fit your needs. We don’t over promise and under deliver. We set realistic goals
                and offer progressive and safe treatment options. We will help you further understand what your particular skin type and conditions are, as well as how to care, maintain and balance your skin at home.
            </p>
            <hr>
            <p>{{ 'We work from' | translate }} 8:00 am - 6:00 pm, <br> {{ 'Monday - Sunday' | translate }}, <b> {{ 'Only by appointment.' | translate }}</b><br>
                <b>{{ 'Address' | translate }}:</b> 3061 Sw 160 Ave. Miramar FL 33027 Suite 135 <br>
                <b>{{ 'Phone' | translate }}:</b> (786) 292-6120</p>
            <br><br>
        </div>
        <div class="col-xs-12 col-sm-6 ">
            <img src="assets/img/Vali-Our-Place.jpg" style="width:100%;" alt="Vali Skincare & Makeup ">
        </div>
    </div>
</section>

<div class="cinta ">
    <h3 class="text-center "> {{ 'Let yourself, come, relax and enjoy with us !!' | translate }}</h3>
</div>

<div class="modal fade emergente " id="mostrarmodal " tabindex="-1 " role="dialog " aria-labelledby="basicModal " aria-hidden="true ">
    <div class="modal-dialog ">
        <div class="modal-content ">
            <div class="modal-header ">
                <button type="button " class="close " data-dismiss="modal " aria-hidden="true ">&times;</button>
            </div>
            <div class="modal-body ">
                <img src="assets/img/POPUP.jpg " alt="Vali Skincare & Makeup " style="display:block; width:100%; margin:auto; ">
            </div>
            <div class="modal-footer ">
            </div>
        </div>
    </div>
</div>


<app-bio></app-bio>
<app-emergente></app-emergente>
<script>
    $(document).ready(function() {
        $("#mostrarmodal").modal("show");
    });
</script>