<section>
    <div class="container barraseccion">
        <div *ngFor="let waxinfo of waxinfos" class="fr-view">
            <div class="col-xs-12 col-sm-6 barraseccion5 ">
                <h2> {{ waxinfo.title }}</h2>
                <div class="clear"></div>
                <p [innerHTML]="waxinfo.description  | keepHtml"> </p>

            </div>
            <div class="col-xs-12 col-sm-6 bord">
                <img src="{{waxinfo.image}}" alt="Vali Skincare & Makeup {{ waxinfo.title }}">
            </div>
        </div>
    </div>
</section>