<section>
    <div class="container barraseccion">
        <div class="col-xs-12 col-sm-6 barraseccion5">
            <h2> Fibroblast para el area del cuerpo</h2>
            <div class="clear"></div>
            <div class="col-xs-12">
                <p>A medida que maduramos, nuestro cuerpo presenta signos de envejecimiento como pérdida de elastina que produce flacidez, hiperpigmentación, estrías, queratosis actínica, entre otros. Nuestro novedoso tratamiento con fibroblastos lo ayuda
                    a recolectar el exceso de piel regenerando las células responsables de la producción de colágeno y elastina, logrando una mejor apariencia en áreas como rodilla, codo, ombligo, cuello, abdomen, muslo interno, manos sin tener que tomar
                    el riesgo de ir a la cirugía
                </p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 bord">
            <img src="./assets/img/servicios/5.TOMMY-TIGHTEN.jpg" alt="Fibroblast para el area del cuerpo Vali Spa">
        </div>
    </div>
</section>
<section class="">
    <div class=" barraseccion-sola"></div>
</section>
<section class="serviceslist ">
    <div class="container">
        <div class="col-sm-3">
            <h3 data-filter="all"> Seleccionar Categoría</h3>
            <hr>
            <app-menufibroblast></app-menufibroblast>
        </div>
        <div class="col-sm-9">
            <div *ngFor="let body of bodys; let i=index">
                <a data-toggle="modal" [attr.data-target]="'#' + body.popup">
                    <div class="col-xs-6 col-sm-3 cuadro cuadro3" [ngStyle]="{'background-image': 'url(' + body.image + ')'}" title="Vali Spa {{body.titleesp}}">
                        <div class="conten">
                            <h3>{{body.titleesp}}</h3>
                            <button class="btn">+ info</button>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="service-error" *ngIf="error">
            {{error}}
        </div>
    </div>
</section>
<div class="container">
    <iframe src="https://squareup.com/appointments/buyer/widget/b1lg4o50oasf8r/RFSCRQJSQAYNW" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
<app-fibroblast-b-modal></app-fibroblast-b-modal>
