<section>
    <div class="container barraseccion">
        <div class="col-xs-12 col-sm-6 barraseccion5">
            <h2> Booking Tratamientos faciales para iluminar y aclarar la piel</h2>
            <div class="clear"></div>
            <div class="col-xs-12">
                <p>Pensando en su piel y el daño ocasionado por factores externos como el sol, el embarazo y los procesos hormonales, le ofrecemos en Vali Skincare & Makeup estas fabulosas terapias para prevenir y ayudarlo a deshacerse de estos daños. Existen
                    excelentes tratamientos para aclarar su piel, exfoliarla profundamente y aclarar la apariencia de la manchas.
                </p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 bord">
            <img src="./assets/img/servicios/5.CLEARING-AND-LIGHTENING-PEELING-TREAT-WITH-PEEL-OFF-BRIGHTENING-MASK.jpg" alt="Vali Skincare & Makeup">
        </div>
    </div>
</section>
<section>
    <div class=" barraseccion-sola"></div>
</section>
<section class="serviceslist">
    <div class="container barraseccion">
        <div class="">
            <div class="col-xs-12">
                <h3 data-filter="all">Seleccionar Categoría</h3>
                <hr>
                <app-menubooking-facial></app-menubooking-facial>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <iframe src="https://squareup.com/appointments/buyer/widget/c4m8il8em76by4/RFSCRQJSQAYNW" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>