<section class="serviceslist hidden-xs">
    <div class="container barraseccion">
        <div class="col-sm-3">
            <h3 data-filter="all">{{ 'Select Category' | translate }}</h3>
            <hr>
            <app-menubooking-facial></app-menubooking-facial>
        </div>
        <div class="col-sm-9">
            <div class="">
                <div class="col-xs-12 col-sm-6 barraseccion5">
                    <h2>{{ 'Booking Facial' | translate }}</h2>
                    <div class="clear"></div>
                    <p>Our experienced estheticians, combined with the best products and cutting-edge technologies, bring out the radiant skin we all want to show .<br><br> Facials are not an extravagance, in fact a monthly facial is necessary maintenance
                        to keep skin clear, firm and to plump the face. <br><br> The therapies are customizable to your skin type and needs, help clearing out congested pores, lift and tone sagging skin, brighten some dullness. <br><br> Put your best
                        face forward … Our team is happy to provide complimentary consultations!</p>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <img src="./assets/img/servicios/CATEGORiA-FACIAL.jpg" alt="Vali Skincare & Makeup">
                </div>
            </div>

        </div>
    </div>
</section>

<section class="serviceslist visible-xs">
    <div class="container barraseccion">
        <div class="col-xs-12">
            <div class="col-xs-12 col-sm-6 barraseccion5">
                <h2>{{ 'Booking Facial' | translate }}</h2>
                <div class="clear"></div>
                <p>Our experienced estheticians, combined with the best products and cutting-edge technologies, bring out the radiant skin we all want to show .<br><br> Facials are not an extravagance, in fact a monthly facial is necessary maintenance to
                    keep skin clear, firm and to plump the face. <br><br> The therapies are customizable to your skin type and needs, help clearing out congested pores, lift and tone sagging skin, brighten some dullness. <br><br> Put your best face forward
                    … Our team is happy to provide complimentary consultations!</p>
            </div>
            <div class="col-xs-12 col-sm-6">
                <img src="./assets/img/servicios/CATEGORiA-FACIAL.jpg" alt="Vali Skincare & Makeup">
            </div>
        </div>
        <div class="col-xs-12">
            <h3 data-filter="all">{{ 'Select Category' | translate }}</h3>
            <hr>
            <app-menubooking-facial></app-menubooking-facial>
        </div>
    </div>
</section>
<div class="container">
    <iframe src="https://squareup.com/appointments/buyer/widget/5caln2l17ygs4r/RFSCRQJSQAYNW" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>