<div *ngFor="let page of pages; ">

    <section class="barraseccion first">
        <div class="container barraseccionGalery">
            <div class="col-sm-8 col-sm-push-2 col-md-6 col-md-push-3">
                <h2>{{page.titulo}}</h2>
            </div>
        </div>
    </section>
    <div class="clear"></div><br><br>
    <section class="membership">
        <div class="container">
            <div class="col-xs-12 col-sm-5">
                <div id="textoprincipal" class="textoprincipal">
                    <p [innerHTML]="page.descripcionesp | keepHtml"></p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-7 bord {{page.verVideoEsp}} ">
                <div class="membership">
                    <iframe class="embed-responsive-item shadow " [src]="getVideoIframe(page.videoEsp)" frameborder="0" allow="accelerometer; autoplay;  " allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 bord {{page.verImagen}}">
                <img src="{{page.image}}" class="shadow " alt="Vali Spa {{page.titulo}}">
            </div>

            <div class="clear"></div>
            <div class="col-xs-12">
                <div id="textosegundario" class="textosegundario">
                    <p [innerHTML]="page.descripcionesp2 | keepHtml"></p>
                </div>
            </div>
        </div>
    </section>
</div>


<div class="container membershipsquare">
    <iframe src="https://squareup.com/appointments/book/mc7wroj1p5m5g/RFSCRQJSQAYNW/services" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>