<section>
    <div class="container barraseccion">
        <div class="col-xs-12 col-sm-6 barraseccion5">
            <h2> Maquillaje</h2>
            <div class="clear"></div>
            <div class="col-xs-12">
                <p>Nuestro equipo de profesionales está capacitado para recrear en tu rostro diferentes tipos de maquillaje para eventos, en cualquier ocasión, bodas, dieciséis dulces, bautizos, quinceañeras, bar mitzvah, primera comunión o una noche especial
                    con tu amor.

                </p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 bord">
            <img src="./assets/img/servicios/CATEGORiA-MAKEUPLook.jpg" alt="Maquillaje Vali Spa">
        </div>
    </div>
</section>
<section class="">
    <div class=" barraseccion-sola"></div>
</section>

<section class="serviceslist ">
    <div class="container">
        <div class="col-sm-3">
            <h3 data-filter="all"> Seleccionar Categoría</h3>
            <hr>
            <app-menumakeup></app-menumakeup>
        </div>
        <div class="col-sm-9">
            <div *ngFor="let look of looks; let i=index">
                <a data-toggle="modal" [attr.data-target]="'#' + look.popup">
                    <div class="col-xs-6 col-sm-3 cuadro cuadro3" [ngStyle]="{'background-image': 'url(' + look.image + ')'}" title="Vali Spa {{look.titleesp}}">
                        <div class="conten">
                            <h3>{{look.titleesp}}</h3>
                            <button class="btn">+ info</button>
                        </div>
                    </div>
                </a>
            </div>

        </div>
        <div class="service-error" *ngIf="error">
            {{error}}
        </div>
    </div>
</section>

<div class="container">
    <iframe src="https://squareup.com/appointments/buyer/widget/g5d3kb1pvc4pw/RFSCRQJSQAYNW" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>

<app-makeup-l-modal></app-makeup-l-modal>
