<section>
    <div class="container barraseccion">
        <div class="row">
            <div class="col-xs-12 col-sm-6 barraseccion5">
                <h2> Tratamientos Faciales Especiales</h2>
                <div class="clear"></div>
                <div class="col-xs-12">
                    <p>En Vali Skincare & Makeup se hizo un gran esfuerzo para satisfacer la demanda de nuestros clientes, por lo que pensamos en todos los tipos y condiciones de la piel para ofrecer más tratamientos y brindar una variedad de opciones que
                        ayudarán a que su piel se vea mejor, más saludable y radiante. En este caso, agregamos al menú de tratamientos faciales una serie de procedimientos de vanguardia con funciones específicas para tratar afecciones como la hiperpigmentación,
                        el acné, incluso tratamiento específico para las necesidades de los adolescentes, la cara de los hombres y también limpieza en la zona de la espalda. Trabajamos para mejorar la textura de su piel, ayudar a reducir el tamaño de
                        los poros, mejorar la apariencia de las estrías y mucho más.
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 bord">
                <img src="./assets/img/servicios/CATEGORiA-FACIAL.jpg" alt="Tratamientos Faciales Especiales Vali Skincare & Makeup">
            </div>
        </div>
    </div>
</section>
<section class="">
    <div class=" barraseccion-sola"></div>
</section>

<section class="serviceslist ">
    <div class="container">
        <div class="col-sm-3">
            <h3 data-filter="all"> Seleccionar Categoría</h3>
            <hr>
            <app-menufacial></app-menufacial>
        </div>
        <div class="col-sm-9">
            <div *ngFor="let specialf of specialfs; let i=index">
                <a data-toggle="modal" [attr.data-target]="'#' + specialf.popup">
                    <div class="col-xs-6 col-sm-3 cuadro cuadro3" [ngStyle]="{'background-image': 'url(' + specialf.image + ')'}" title="Vali Skincare & Makeup {{specialf.titleesp}}">
                        <div class="conten">
                            <h3>{{specialf.titleesp}}</h3>
                            <button class="btn">+ info</button>
                        </div>
                    </div>
                </a>
            </div>

        </div>
        <div class="service-error" *ngIf="error">
            {{error}}
        </div>
    </div>
</section>
<div class="container">
    <iframe src="https://squareup.com/appointments/buyer/widget/63edvcer8320h3/RFSCRQJSQAYNW" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>

<app-facial-st-modal></app-facial-st-modal>